[2018-06-10 13:01] D0miH opened #1 "Save settings when quitting the application"
When the application is closed the current settings should be saved and loaded when the app is opened again.

[2018-06-10 23:31] Moneypulation commented on #1
Currently works with every setting, besides battery that is still being developed

[2018-06-11 07:48] D0miH commented on #1
Battery settings can be adjusted and are now saved as well.
Closing this issue then.

[2018-06-11 07:48] #1 closed

[2018-08-27 22:38] Moneypulation opened #4 "Wrong upload speed numbers for >= 1 MB/s"
When hitting over 1 MB/s on upload, iGlance will display wrong upload speed numbers in the status bar because of a small mistake on this line: https://github.com/Moneypulation/iGlance/blob/master/iGlance/iGlance/AppDelegate.swift#L1049

Instead of **down**, the variable **up** needs to be used

The fix will come with the next major update

[2018-08-28 06:26] D0miH opened #5 "App Crashes on MBP2018"
**Describe the bug**
iGlance sometimes crashes on a MacBook Pro 2018 and quits. Application needs to be restarted. However, I don't know why it crashes yet.

**To Reproduce**
Steps to reproduce the behavior:
Can't be reproduced. Needs to be investigated.

**Expected behavior**
iGlance should not be terminated unexpectedly.

**Screenshots**
No screenshot available.

**Desktop (please complete the f

[2018-09-28 12:17] CoelWu opened #7 "Temperature was -1°C"
**Describe the bug**
The Temperature of CPU is -1°C，30°F

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A Normal temperature instead of -1°C
**Screenshots**

![image](https://user-images.githubusercontent.com/39617891/46207886-752b1c80-c35b-11e8-831b-7dba40c7afdf.png)

**Desktop (please complete the

[2018-10-08 09:53] gieljnssns commented on #7
<img width="85" alt="schermafbeelding 2018-10-08 om 11 53 24" src="https://user-images.githubusercontent.com/17234951/46602530-c7ed9c80-caf0-11e8-847f-fa271f45df84.png">

[2018-10-09 22:03] Moneypulation commented on #4
Thanks for your contribution, just merged it. Sorry for the long delay

#closed

[2018-10-09 22:08] Moneypulation commented on #7
@gieljnssns @CoelWu do you still have this problem? If yes, @gieljnssns what is your os version and are those temperature numbers you're both getting stuck or do they vary, or even display the real temperature every now and then?

[2018-10-09 23:04] CoelWu commented on #7
If the CPU temperature is not too high, it will be like -1°C,If it was high, for example running Xcode, it will display the right temperature.The problem happened in 10.13.6 and 10.14 Mojave

[2018-12-02 16:14] D0miH opened #8 "Adapt settings window to the theme (light/dark)"
**Is your feature request related to a problem? Please describe.**
Adapting the settings window to the currently used theme of osx.

**Describe the solution you'd like**
When changing from light to dark theme of OSX, the settings window changes its theme accordingly and vice versa.

[2018-12-20 11:01] D0miH commented on #7
Since this seems to be a bug in SMCKit I close this issue.

[2018-12-20 11:01] #7 closed

[2018-12-20 11:16] D0miH commented on #8
This feature was introduced in abcea2c407b51107b2267a602350fb2d8a3b37c2.

[2018-12-20 11:16] #8 closed

[2019-01-06 14:56] IanWazowski opened #9 "Fan speed didn't work MBP 15 2018"

[2019-01-07 08:53] D0miH commented on #9
Hi Ian,

thanks for opening this issue. Since I habe a MBP 15' 2018 as well, I am aware of this issue.
However the problem lies within the SMCKit library. It seems like the smc-key for retrieving the information about the fans is not working.

Apparently the [smcFanControl](https://github.com/hholtmann/smcFanControl) tool is able to read the fan speeds on a 2018 MBP. However [this](https://github.

[2019-01-08 11:03] tech189 opened #10 "Minor typo"
In iGlance/Components/Battery.swift on line 53,

`menuBattery?.addItem(NSMenuItem(title: "Quite iGlance", action: #selector(NSApplication.terminate(_:)), keyEquivalent: "q"))`

"Quit" is misspelt as "Quite"

[2019-01-10 15:10] #10 closed

[2019-01-10 15:11] Moneypulation commented on #10
Thanks for pointing it out

[2019-01-17 08:32] D0miH commented on #9
Ok so I looked into the issue and apparently, the problem is in the `updateFanSpeed()` method in the `AppDelegate.swift` file. The problem is that trying to get the fan information will fail on the 2018 MacBook Pro. In the method however after the failed result, the function returns.

We could solve this, by not retrieving the fan information, but instead get the number of fans and directly get th

[2019-01-23 16:17] D0miH commented on #9
Should be fixed by #12

[2019-01-23 16:17] #9 closed

[2019-01-24 23:48] wrongsyntax opened #13 "CPU temperature only works when plugged in"
**Describe the bug**
CPU temperature only displays properly when the Macbook is plugged in and charging

**To Reproduce**
Steps to reproduce the behavior:
1. Enable CPU Temperature
2. Plug the charger in and see the CPU temp
3. Unplug charger
4. See -1ºC

**Expected behavior**
The CPU temp to work even if the Macbook is not charging

**Desktop (please complete the following information):**
 - OS:

[2019-01-26 13:27] edilsonborges opened #14 "Toggle for "RPM" unit in Fan Speed option"
**Hi, guys!**
First of all thank you for iGlance, it's a must have app for me.

Since the last update (**1.2.2**) I've notice that the fan speed now comes with **"RPM"** unit indicator.
A suggestion would be creating a toggle for this. In some cases, this extra space could be a benefit (e.g. I'm also using it in a 11" MacBook Air and the menu bar is smaller).

Ps: any other way to follow your work

[2019-01-26 13:35] edilsonborges commented on #13
Couldn't reproduce the error here, Uzair. Have you try this behavior on this?
- previous version (1.2.1)
- check another app for temperature indicator (Fanny - https://github.com/DanielStormApps/Fanny)

[2019-01-26 15:59] edilsonborges commented on #14
I've created this suggestion in PR #15

[2019-01-26 17:54] #14 closed

[2019-01-29 07:31] D0miH commented on #14
Great idea! PR is merged and the feature is going to be release in the next update:)

[2019-01-29 07:37] D0miH commented on #13
Hi Uzair,

sorry to hear that the app is not working.
What machine are you using?

Another solution might be to reset the SMC. How to do that, you can read [her](https://support.apple.com/en-us/HT201295).

[2019-01-29 09:36] D0miH opened #16 "Graph for memory and cpu utilization"
**Is your feature request related to a problem? Please describe.**
The development of memory and cpu utilization is not visible.

**Describe the solution you'd like**
One way to make the development of the utilization visible, is by providing an area graph over time.

**Additional context**
As an example this might look like the graph in iStats.

[2019-01-29 23:44] wrongsyntax commented on #13
I’m using a MacBook Air from last year

[2019-01-31 01:41] edilsonborges commented on #16
Looking forward for this features, @D0miH. By the way, do you have twitter or other social network?

[2019-01-31 01:42] edilsonborges commented on #16
Looking forward for this feature, @D0miH. By the way, do you have twitter or other social network?

[2019-01-31 09:41] D0miH commented on #16
No, at the moment I/we aren't on any social media. But if we are going to, I'll announce it here so you guys can be up-to-date. :)

[2019-01-31 17:21] D0miH commented on #13
@wrongsyntax Ok, so I looked into the code and couldn't find anything which could lead to your described behaviour.
Did you try to reset your SMC?

[2019-02-20 15:33] #13 closed

[2019-02-20 15:39] #16 closed

[2019-02-22 09:36] D0miH opened #19 "Add a graph section to the cpu status bar menu"
**Is your feature request related to a problem? Please describe.**
At the moment it is not possible to get info about the utilization of every single cpu core.

**Describe the solution you'd like**
A graph section in the cpu status bar menu would allow the user to see the usage over time for each cpu core. In the graph every cpu core would be drawn in another color to distinct them.

**Additional

[2019-02-27 01:41] maesa opened #22 "Unable to autostart on boot"
MBP 2014, 15", MacOS Mojave 10.14.3

iGlance 1.3.1

Steps to reproduce the behavior:
1. Remove manually installed iGlance (1.3.0)
2. Run "brew cask instal iGlance"
3. Tick "Autostart on Boot"
4. See error "Something went wrong, sorry"

Please let me know if there's any additional information needed

[2019-02-27 02:01] maesa opened #23 "Rearrange the order of the stats"
**Is your feature request related to a problem? Please describe.**
Currently, rearrange the order of the stats is done by tick/untick available stats.

**Describe the solution you'd like**
Movable/dragable stats.

[2019-02-27 07:48] D0miH commented on #22
Hi @maesa,

thanks for reporting the bug.
We are aware of the issue and this should be fixed (with [this](https://github.com/iglance/iGlance/commit/395f8d06a0a66e6f6c2b0b307fd4717eb2edb7b4) commit) in the next update.

[2019-02-27 07:48] #22 closed

[2019-02-27 15:58] D0miH commented on #23
Yeah this is a good idea.
However because there is apparently no easy way to get the position of the status bar items this might be a bit tricky. But I am sure we can think of a workaround.

[2019-02-28 02:24] maesa commented on #23
Sorry, what I mean is movable/dragable in settings, not status bar.

![image](https://user-images.githubusercontent.com/7199717/53536785-3c75b600-3b3a-11e9-8d89-6c5b33aa9ee7.png)
or
![image](https://user-images.githubusercontent.com/7199717/53536827-64651980-3b3a-11e9-8895-430a61da9904.png)

[2019-02-28 03:39] edilsonborges opened #24 "Bug when toggling "autostart on boot""
Autostart on Boot is not working. An error is given:

**Version**
1.3.1

**Screenshot**
![image](https://user-images.githubusercontent.com/3504039/53539558-cbf67700-3af0-11e9-8526-197a83e5579e.png)

**Gear**
Mbp 15" Mid 2015
macOS Mojave 10.14.2

[2019-02-28 07:54] D0miH commented on #24
Hey @edilsonborges,
yeah we are aware of this bug. I think I will release an update with a hot fix today. :)

[2019-02-28 08:04] D0miH commented on #23
Ahh, ok! Thanks for the clarification. 👍

So any suggestion on how we can integrate this into the current user interface?
Besides integrating this new feature, I was thinking about a redesign of the user interface, since the GUI seems pretty crammed up with all the lately added features. This might be a good opportunity.
What do you guys think?

[2019-02-28 14:29] #24 closed

[2019-02-28 18:04] edilsonborges commented on #24
Thanks!

[2019-03-04 12:13] Moneypulation commented on #23
@D0miH That's a good idea. Do you want to design the new GUI? I can implement the rearrangement feature once the GUI redesign is finished. (We'll probably need a new tab for the rearrangement feature. Maybe called "Other", where we can also move stuff like the update interval and the check update button.
Also what do you think about the idea to add a checkbox to toggle checking for updates automat

[2019-03-04 14:33] D0miH commented on #23
@Moneypulation Yeah, i can do the GUI redesign. I will make a prototype and post an image of it here for feedback.

A toggle for checking the updates is a good idea. This might prevent annoying popups when waking up from sleep mode.

[2019-03-04 17:31] D0miH commented on #23
Here is my first prototype.
Feedback is welcome :)

![iglanceredesign](https://user-images.githubusercontent.com/36657497/53751067-b647cf80-3eab-11e9-8daf-f611b8db2c84.png)

[2019-03-04 21:57] Moneypulation commented on #23
Visually it looks promising. Here are my points:

1. what use case does the uptime label provide in your opinion?
2. I assume you can click the labels on the left so that it opens the corresponding tab and simultaneously they can be rearranged through the up and down arrows. In this case we would need a distinction between cpu utilization and cpu temperature
3. I'd add a label "version x.y" at the

[2019-03-05 07:34] D0miH commented on #23
The uptime label is just some additional "nice to know" info. And the empty space on the dashboard would have looked a bit awkward.
Yeah point 2 and 3 sounds reasonable and i can integrate that.
My idea for the graph was to calculate the average for every minute by saving the values in an array and then save the average values of every minute again in an array. This way we have a data point for th

[2019-03-05 07:36] D0miH opened #25 "GUI redesign"
**Is your feature request related to a problem? Please describe.**
The user interface looks a bit crammed. Is related to #23.

**Describe the solution you'd like**
The solution would be to redesign the user interface.

[2019-03-05 07:37] D0miH commented on #23
I will post a new version of the prototype in #25.

[2019-03-05 16:08] D0miH commented on #25
@Moneypulation Here is the new version of the prototype. First one is the main view of the app. The second picture is the view of the settings menu which can be opened by clicking on the little cogwheel at the left bottom.

![mainapp 2x](https://user-images.githubusercontent.com/36657497/53818937-3f710c00-3f69-11e9-9739-0fcf2d865f98.png)
![settings 2x](https://user-images.githubusercontent.com/366

[2019-03-05 16:19] Moneypulation commented on #25
looks good, maybe we should highlight the cogwheel a bit more. it's a bit too hidden imo

[2019-03-05 17:00] D0miH commented on #25
Yeah, good point. I guess giving it the same color as the font does the trick.

[2019-05-10 10:56] D0miH commented on #19
Because this type of graph is displayed at the dashboard of [the new ui](https://github.com/iglance/iGlance/issues/25) this issue is closed.

[2019-05-10 10:56] #19 closed

[2019-06-28 15:23] thanosa75 opened #26 "crashes on macOS 10.14.5"
**Describe the bug**
crashes randomly in macOS 10.14.5, mbp 2015

**To Reproduce**
Steps to reproduce the behavior:
1. Crashes while working

**Expected behavior**
should work

**Screenshots**
No screenshot available, see crash report attached here
[iGlance_2019-06-28-180058_tangelatos-mbp.crash.zip](https://github.com/iglance/iGlance/files/3339823/iGlance_2019-06-28-180058_tangelatos-mbp.crash.zi

[2019-06-28 15:25] thanosa75 commented on #26
Additional crash report files available on request.

[2019-06-30 08:47] D0miH commented on #26
Hey @thanosa75,

thanks for the bug report. I look into this.

[2019-07-17 20:05] TheTechRobo opened #27 "corrupt dmg from official releases page"
**Describe the bug**
the disk image is corrupt.

**To Reproduce**
Steps to reproduce the behavior:
1. open disk image
2. see sceenshot

**Expected behavior**
the disk image to mount

**Screenshots**
![screenshotCORRUPT](https://user-images.githubusercontent.com/52163910/61407760-7c9cc180-a8ac-11e9-933b-4de457ffc1b2.png)

**Desktop (please complete the following information):**
 - OS X
 - latest wa

[2019-07-18 08:18] D0miH commented on #26
So I looked into this and it should be fixed with the next release.

[2019-07-18 08:18] #26 closed

[2019-07-18 08:58] #27 closed

[2019-07-22 17:23] suschizu opened #28 "iGlance still shows version 1.3.2"
hey @D0miH - I think you forgot to update the bundle version in the Info.plist - it still shows 1.3.2 instead of 1.3.3 as latest version
<img width="441" alt="Screenshot 2019-07-22 at 19 19 09" src="https://user-images.githubusercontent.com/16004333/61651407-1d78eb80-acb6-11e9-912a-26788c3f57d3.png">

[2019-07-23 07:15] D0miH commented on #28
Hi @suschizu,
thanks for pointing it out.
Should be fixed with 1.3.4.

[2019-07-23 07:15] #28 closed

[2019-07-23 13:28] suschizu commented on #28
thanks :)

[2019-07-23 14:18] wx-Yao opened #29 "Network speed shown in wrong order"
**Describe the bug**
Normally for the network speed monitoring, the line above means "upload speed" and the line below means "download speed", which is intuitive. But on my macOS 10.14.5 in the newest version, the order is reversed. i.e., the line above means "download speed".

**To Reproduce**
Steps to reproduce the behavior: Just tick the network monitor toggle.

**Expected behavior**
Reversed d

[2019-07-23 16:47] D0miH commented on #29
Hi @wx-Yao,
thanks for the suggestion. In fact we didn't think about this very much and your point is absolutely valid.

The labels will be switched in the update i will release today:)

[2019-07-24 00:34] wx-Yao commented on #29
:) Cheers mate

[2019-07-24 02:06] xzsss opened #31 "Is SystemX plagiarizing you?"
This app is SO GOOD!
I found a  software in appstore called SystemX and it is charge
but i got the update push today  and the link is your git
only name and picture  is diffferent
so,Is SystemX plagiarizing you?

[2019-07-24 02:45] maesa commented on #31
Holy****, the developer "zhurong li" straight copy and rename few string then sell it in app store

/cc @D0miH @Moneypulation

[2019-07-24 03:07] xzsss commented on #31
pls do something to this
, this software has been in top 5 softwares in appstore(China)
Hope  to add more language like  ch jp  then put iGlance in appstore
we d like to buy it
(i can give some chinese translate support)

[2019-07-24 07:30] Moneypulation commented on #29
I think instead of changing the order for everyone, we can add an option in the network settings tab to switch the order of down- and upload. This way, people can choose whichever order fits them best. Anything against that?

[2019-07-24 12:57] wx-Yao commented on #29
lol Em I don't mind. But I just think that ... will anyone feel comfortable if he finds the "download" speed is on the "upper line"? I mean, yeah of course options are always good. I just don't really think someone would use it IMHO because intuitively, up is up, down is down :p.

But thanks for the interesting suggestion. I don't mind if you add it.

[2019-07-24 13:04] wx-Yao commented on #31
Confirmed this app in Australia app store. I'm thinking about reporting the developer to Apple.

[2019-07-25 12:50] Moneypulation commented on #29
It was actually intuitive for me that the download speed was at the top. I think everyone has their own preferences which is why we want to keep everything customizable.
But I see your point. I guess we'll switch the upload speed to position it at the top as the default value since it makes more sense. I'll add the feature for the next version then

[2019-07-25 13:02] wx-Yao commented on #29
Yeah exactly. Everyone has different intuitions.
Just make it an option and it'll be good. Thanks mate.

[2019-07-25 13:02] #29 closed

[2019-07-27 13:59] TheTechRobo commented on #27
thanks, yes it does work now. thank you!
also, what's the minimum version requirement, just wondering

[2019-07-27 14:05] TheTechRobo commented on #31
Yeah, it's in the Canadian store 😢

[2019-07-27 14:05] TheTechRobo commented on #31
@D0miH you need to see this

[2019-07-27 15:57] D0miH commented on #31
Hey guys,
first of all thanks for the kind words :)
Unfortunately he has the right to sell our app since it is licensed under the MIT license. This allows anybody to redistribute, edit and also sell our app.

I am currently in the process of rewriting the whole app in electron for a better user interface and to include automatic updates within the app (you may know this from some electron apps alr

[2019-07-27 23:47] #31 closed

[2019-07-28 13:29] wx-Yao commented on #25
Oh please, it'd be good if we can find our public IP in the network section somewhere. Normally we
're behind NAT but we (at lease me..?) have the need to know the router's public IP sometimes. Tell me if I need to open another issue for the feature request.

Yeah I understand other ways to find the IP are possible but if this tool has it, why bother?:)

[2019-07-29 12:42] wx-Yao opened #32 "SIGILL terminated the process"
**Describe the bug**
iGlance will periodically self-terminate and requires to launch again.

**To Reproduce**
N/A

**Expected behavior**
... It should run forever until the user quits it.

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: macOS 10.14.5
 - Version of the app: 1.3.5

**Additional context**
I examined the system log in Console.app, the log showed th

[2019-08-02 13:18] mjstelly opened #33 "CPU temp inaccurate"
**Describe the bug**
iGlance cpu temp is way off. It reports my cpu at 129°. Same temp on SystemX is 98°.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch both SystemX and iGlance
2. Enable CPU temp reporting using equal scales (F or C)

**Expected behavior**
Both scales should be reporting equal values

**Screenshots**
iGlance on the left / SystemX on the right
<img width="251" alt="S

[2019-08-06 07:38] Moneypulation commented on #33
Hey @mjstelly

can you answer us the following questions to help us track down the problem:

1. What machine are you using (e.g. MacBook Pro 2015,2016, Hackintosh, ...) ?
2. Which of the two temp values (iGlance, SystemX) is the correct one?
3. Is the temp from iGlance always off by the same constant value? For instance, by the value 33*F based on your screenshot
4. and finally is the problem cons

[2019-08-06 07:41] Moneypulation commented on #32
Hey @wx-Yao

sorry for the late response. Does this still happen to you? Also, can you please provide us a crash report so we can have a look into what might cause the SIGILL

[2019-08-06 18:47] mjstelly commented on #33
1. System: MacBook Pro (15-inch, 2018)
2. Since I don't have a third temp gauge to confirm, I can only guess that
it's the lower SystemX value.
3. I removed SystemX shortly after this since neither app is reliable. So I
can't say for sure. Guess I forgot to remove iGlance. It's reading 156°
right now which would probably be causing a system meltdown if it were
correct.
4. Yes.

Sincerely,
Michael

[2019-08-07 12:21] D0miH commented on #33
Hi @mjstelly,

i have a MacBook Pro 15" 2018 too and can't reproduce the bug on my machine.
Is it possible, that you chose to display Fahrenheit instead of Celcius? You can check this setting in the settings menu of the cpu.

Concerning SystemX i wanted to say that this app is not sold by us. A third party took our code and sells it in the app store (which is totally correct concerning legal terms

[2019-08-07 14:57] mjstelly commented on #33
Ahh. I didn’t know about the business model. That’s interesting since it provides an upgrade link which redirects to your git repo. 🤨

At any rate, the F or C conversion scale is irrelevant. The base value is incorrect. I’ll see if I can find some  other tool to provide a comparison. But , as a developer myself, I know the burden to debug and provide a fix is on the product owner.

Sincerely,
Mich

[2019-08-07 15:10] D0miH commented on #33
yeah, you could download the trail of [iStats](https://bjango.com/mac/istatmenus/). This will give you hopefully the correct correct temperature value.

So you are saying that the app is for purchase in the app store and once there is an update you delete SystemX and instead install iGlance from our repo?

[2019-08-07 15:16] mjstelly commented on #33
Once SystemX launches, you receive this modal which points to your repo.
[image: Screen Shot 2019-08-07 at 10.14.27 AM.png]

Sincerely,
Michael Stelly | M: +1.918.978.2000 Blog <https://medium.com/@michaelstelly>
| LinkedIn <http://linkedin.com/in/mstelly> | Github
<https://github.com/mjstelly>
On Aug 7, 2019, 10:10 AM -0500, Dominik H. <notifications@github.com>,
wrote:

yeah, you could download

[2019-08-16 06:14] tom10271 commented on #33
i have the same issue too, in SystemX it is just 3x-4x degree celsius but 70+ for iGlance

[2019-08-26 14:59] wimbos2208 commented on #33
Hi there,

Same issue (temperature way off), showing -86 degrees C (it is definitely not that cold here :-))
Imac Retina 5k 27" late 2014 model
Running Mojave 10.14.6

[2019-08-26 16:48] tom10271 commented on #33
My MBP hits 100 degrees C all the time

[2019-08-30 12:48] rwojnarowski commented on #32
@Moneypulation same thing for me, i noticed i need to relaunch it like every 24h or so. It's just disappear from menu bar.

Error log from Mac Console:
[code]

[2019-08-31 17:50] wx-Yao commented on #32
Oh thanks @rwojnarowski for the heads up. I almost forgot about the issue. Yeah it still persisted. I don't know where I can find more logs. Sry about that.

But I did notice that it seemed to quit more often when I toggled on/off my proxy client (connected to my remote shadowsocksR proxy). It didn't crash every time but just getting more often. I hope I could help more :(

[2019-09-01 17:08] D0miH commented on #33
I changed the sensor which is used for reading the temperature now from the cpu die sensor to the cpu proximity sensor.

Now the correct (same as in iStats) should be displayed.

[2019-09-01 17:08] #33 closed

[2019-09-01 17:14] D0miH commented on #32
Hi all,

I just changed the way how the network speed is read.
We read a continuous stream of the "netstat" command. Most likely this is not very stable when the app is running for very long. Now each time one "netstat" call is made.

Hopefully this fixes the random crashes. I will close this issue. If it wasn't fixed feel free to reopen the issue.

[2019-09-01 17:14] #32 closed

[2019-09-01 19:21] mjstelly opened #34 "updated app won't launch"
**Describe the bug**
App fails to launch on latest update. Tried installing using both brew and the dmg. Same result.

**To Reproduce**
Steps to reproduce the behavior:
1. Download dmg or install through `brew`
2. Click on iGlance icon

**Expected behavior**
App should appear in status bar

**Actual behavior**
Finder window flashes briefly, then nothing else.

**Desktop (please complete the follow

[2019-09-02 00:37] ttsymlov commented on #34
Same os and app version - works fine for me

[2019-09-02 07:33] D0miH commented on #34
Hi @mjstelly,

this is very strange. Could you provide a crash report?
You can find crash reports in `~/Library/Logs/DiagnosticReports/`.

[2019-09-02 14:16] mjstelly commented on #34
Sincerely,
Michael Stelly | M: +1.918.978.2000 | LinkedIn
<http://www.linkedin.com/in/mstelly> | Twitter
<https://twitter.com/michaelstelly>

On Mon, Sep 2, 2019 at 2:33 AM Dominik H. <notifications@github.com> wrote:

[2019-09-03 17:20] gihnius commented on #23
1. Move the Fan speed to the CPU or the Temperature menu
2. Show primary interface ip address, as well as public ip address(optional).

[2019-09-05 05:33] RobertasMurnikovas opened #35 "iGlance freeze"
After some time of my mac inactivity or being put to sleep I've noticed some strange behaviour, the app is not starting, it looks like it's running, but none of the info is showing anything even though I'm downloading something or my CPU is running on max, it just seems to freeze.

MacOS 10.14.6
iGlance 1.3.6

[2019-09-13 12:08] thanosa75 commented on #32
Hi @D0miH
I just got a SIGILL kill

See below for the report
[code]

[2019-10-09 18:21] D0miH opened #37 "Notarize the app by Apple"
**Describe the bug**
Since macOS Catalina all apps must be notarized by Apple. Therefore the app currently can't be launched under macOS Catalina.

**To Reproduce**
Simply try to launch the app

**Expected behavior**
The app launch as expected.

**Desktop (please complete the following information):**
 - OS: macOS 10.15
 - Version of the app: 1.4

[2019-10-09 18:57] rwojnarowski commented on #37
App is working fine under macos catalina. Just go into security settings and open app from unknown source

[2019-10-10 06:23] D0miH commented on #37
Oh yeah you are right. Skimming through the notarizing info-page of apple I thought maybe we can notarize the app without signing it with a developer account. Since thats not possible we can close this issue.

[2019-10-10 06:23] #37 closed

[2019-10-16 06:47] asaduzzaman-shuvro opened #38 "Network status should be for Thunderbolt LAN connection"
**Is your feature request related to a problem? Please describe.**
The network status showing 0 kb/s for thunderbolt lan connection.

**Describe the solution you'd like**
The network status only working with wifi connection. but this not working with LAN connection. I did't check with bluetooth. I checked with thunderbolt LAN connection. And found 0 kb/s

[2019-10-18 08:47] Ginger2330 opened #39 "The displayed network speed doubles if set 'update interval' from 1sec to 2sec, triples if to 3"
ps: bug free with default interval (1sec).

[2019-10-21 14:10] thanosa75 opened #40 "Catalina crash"
**Describe the bug**
iGlance works fine and suddenly dies. This happens at times of idle but also at times of network change (either wifi->lan or otherwise and/or vpn)

**To Reproduce**
As discussed above.

**Expected behavior**
Continue to work without crashes

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: macOS 10.15 supplementary update (Catalina)
 - Versi

[2019-10-22 02:45] stefanlei opened #42 "Network status for USB rj45"
support USB rj45

[2019-10-22 06:25] #34 closed

[2019-10-22 06:27] D0miH commented on #39
Hi @Ginger2330,
thanks for the bug report. I will look into it.

[2019-10-22 07:55] D0miH commented on #40
Hey @thanosa75,
thank you for your bug report.

I looked into it and the addresses in the crash report are referencing the `GradientImage`-class. Are you using the gradient for the memory usage bar?

[2019-10-22 07:57] D0miH commented on #35
hmm🤔 . I have no idea what could cause this.
Did you observe any pattern when this happens? Is this consistently happening when you are waking your mac up or is this happening rather random?

[2019-10-22 08:31] thanosa75 commented on #40
Yes, this is correct. See screenshot.

[2019-10-22 08:32] thanosa75 commented on #40
![image](https://user-images.githubusercontent.com/1307607/67269540-94916c00-f4bf-11e9-80fb-3905dbc56c8e.png)

[2019-10-22 09:14] #23 closed

[2019-10-22 09:45] D0miH commented on #42
duplicate of #38

[2019-10-22 09:45] #42 closed

[2019-10-22 09:49] #39 closed

[2019-10-22 10:01] RobertasMurnikovas commented on #35
This is happening kinda random, it doesn't happen often, just from time to time and can see that iGlance freezed and I just quit it and re-open again, haven't noticed this freeze in a while now, but maybe I just didn't gave it any attention.

[2019-10-22 10:07] D0miH commented on #35
Ok. Maybe this issue was fixed with the new version. I will close this issue and if you notice that iGlance freezes again feel free to reopen the issue.

[2019-10-22 10:07] #35 closed

[2019-10-22 13:37] JackyCZJ opened #44 "save the location setting of each bar."
the bar getting back to default location each start up. is that any way to save this setting?

[2019-10-23 01:39] tom10271 opened #45 "Add disable update check option"
Maybe it is good to keep upgrading but I found update releases are too frequent and I don't care about the update that I cannot find anything improved.

[2019-10-23 08:14] Moneypulation commented on #45
Hey @tom10271.

thanks for your feedback. I'm completely with you regarding this point. I'll create an option to turn out update notifications in the next days

[2019-10-24 03:24] ChillarAnand opened #46 "Add option to show Disk IO"
Most of the activity monitoring tools display disk io. Sometimes one of the programs might be doing a lot of disk io which might slow the system. Can we add an option to show disk io as well?

[2019-10-25 05:25] mohsinalimat opened #47 "Net speed not show in Catalina OS X"
Hello,

Net speed not show in Catalina OS X with you latest version app dmg

![Screenshot 2019-10-25 at 10 54 32 AM](https://user-images.githubusercontent.com/973676/67545223-ffd47b80-f715-11e9-846e-af25806c2cea.png)

[2019-10-30 13:40] thanosa75 commented on #40
@D0miH thanks - I've got another crash just now, 1.4.1 app version - I'm adding another ticket.

[2019-10-30 13:42] thanosa75 opened #48 "iGlance dies while working normally macOS Catalina"
**Describe the bug**
Crashes while working normally

**To Reproduce**
just crashes

**Expected behavior**
should work ;)

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: macOS 10.15 w/updates
 - Version of the app: 1.4.1

**Additional context**

[code]

[2019-10-30 13:44] thanosa75 commented on #48
somehow the error report popped up again

[2019-11-01 07:41] #44 closed

[2019-11-19 21:04] schwingi000 commented on #47
I can confirm this issue and provide some additional information:
With Catalina 10.15.1 (19B88) on an Macbook Pro from Mid 2014 and iGlance 1.4.1 everything is working fine except the network usage. If i'm deactivating my wifi-adapter it's ok (but useless), otherwise it seems as iglance is trying pretty hard to get some informations, that's causing a lot of waiting time.

Hope this is some useful

[2019-11-20 09:02] D0miH commented on #47
Hey guys,

thanks for the detailed bug description.
Currently the network speed is retrieved by using the `netstat` command. However we are currently only measuring the network speed of interface `en0`.

My assumption is that your mac is using a different interface.
One possible solution would be to provide a list with possible interfaces of the machine in a drop down list. The user could then sel

[2019-11-20 09:04] D0miH commented on #46
Hey @ChillarAnand,

indeed most of the other tools are displaying disk info. Seems like a good idea to me.
If you want to implement it, feel free to open a PR:)

[2019-11-20 09:06] D0miH commented on #38
Hey @asaduzzaman-shuvro,

thanks for the feature request. This is indeed a good point and is related to #47 since you probably need to be able to select a different network interface in order to use your thunderbolt adapter.

[2019-11-26 23:38] tempusthales opened #49 "A note to the devs..."
I had bought an app on the Mac App Store called SystemX, which advertised as having a full screeen panel with a ton of graphs.  It didn't appear to have anything of the sorts.  I went online looking for more info where I came across another post that denounced that the app in the Mac App Store was stolen.  I then found the iGlance website on Github.  This made me very upset, so I filed a report wi

[2019-11-30 17:52] D0miH commented on #49
Hey @tempusthales,

thanks for your positive support. I am sorry that you were scammed.
I hope Apple will respond to your request and take this app down.

It would be nice if you posted the answer of Apple here in this issue.

[2019-11-30 22:54] GingkathFox commented on #47
I have a Catalina dual-boot on my Air, will see what interface Catalina has defined.

[2019-12-03 23:46] GingkathFox opened #50 "Seperate on/off toggles for upper/lower battery notif"
**Is your feature request related to a problem? Please describe.**
I love how i can get notifs if my battery drops under a certain percentage. What i don't like is the notif when my battery goes above a certain percentage. Kinda redundant since the charger has the red/green led that turns green when its fully charged.

**Describe the solution you'd like**
It would be nice to have separate checkbox

[2019-12-04 09:58] D0miH commented on #50
Hey @GingkathFox,

thanks for your feature request. This should be very simple to implement.
I will start working on the open issues the next few days :)

[2019-12-04 10:00] D0miH commented on #38
closing this since it is a duplicate of #42. For further info see discussion in #42.

[2019-12-04 10:00] #38 closed

[2019-12-04 23:01] GingkathFox commented on #50
nice, thanks!

[2019-12-06 17:52] #50 closed

[2019-12-11 15:19] GingkathFox opened #56 "Percentage of battery in taskbar"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to see the percentage remaining without having to click on the battery icon.
**Describe the solution you'd like**
I'd like to have a setting to see the percentage of the battery in the battery icon, and be able to switch from percentage to time remaining (maybe holding shift while clicking?).

[2019-12-11 16:42] GingkathFox opened #57 "Percentage under 10% is displayed as 0N%"
**Describe the bug**
When the percentage drops under 10%, the percentage is displayed as 0N%.

**To Reproduce**
Steps to reproduce the behavior:
1. Drain battery.

**Expected behavior**
Percentage is displayed as N%

**Screenshots**
![Screen Shot 2019-12-11 at 11 34 48 AM](https://user-images.githubusercontent.com/33764485/70641149-25a4d980-1c0b-11ea-8065-d33c1dbdf260.png)

**Desktop (please compl

[2019-12-18 13:13] D0miH opened #58 "Add info about the public ip address"
**Is your feature request related to a problem? Please describe.**
Someone should be able to retrieve the public IP address of the router.

**Describe the solution you'd like**
This info could be added to the dashboard in the new UI. This is related to #25 and should be started after #25 is merged.

**Additional context**
This issue was suggested [here](https://github.com/iglance/iGlance/issues/25

[2019-12-22 16:14] D0miH opened #59 "Add tests for saving/loading settings"
**Is your feature request related to a problem? Please describe.**
UI test prevent bugs from appearing during development.

**Additional context**
Should be done after #25 is merged

[2019-12-27 15:20] D0miH opened #60 "Adding the network speed menu bar icon slows down/crashes the app"
**Describe the bug**
When adding the network speed info to the menu bar the app gets really slow up to the point where iGlance is not reacting.

**To Reproduce**
Steps to reproduce the behavior:
- open the app
- if you don't habe the net speed info displayed add it to the menu bar

Result: The app is very slow/crashes

**Expected behavior**
The app should be as fast/responsive as usual.

**Screens

[2019-12-27 15:50] D0miH commented on #60
It seems like if there is a slow name resolution within the network the terminal command for retrieving the bytes sent and received is very slow.

[2019-12-27 16:23] D0miH commented on #45
I am sorry I accidentally closed this issue

[2019-12-27 16:34] #60 closed

[2019-12-27 16:35] D0miH commented on #47
fixed with #61

[2019-12-27 16:35] #47 closed

[2019-12-27 16:42] D0miH opened #62 "Add Sparkle to automatically update the app"
**Is your feature request related to a problem? Please describe.**
It is cumbersome to get the update notification and then having to download the update from the GitHub release page.

**Describe the solution you'd like**
The solution is to get a Apple Developer Account and add [Sparkle](https://sparkle-project.org) to the app.

**Describe alternatives you've considered**
Alternatively we could us

[2019-12-28 05:44] GingkathFox opened #65 "Both high and low battery notifs say "Low""
**Describe the bug**
Title. heres a screenie:
![Screen Shot 2019-12-28 at 12 42 24 AM](https://user-images.githubusercontent.com/33764485/71539513-0dbb9e00-290b-11ea-9bb5-1498d5c3de82.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open settings and click "Battery"

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2019-12-28 16:49] D0miH commented on #65
oh, you are right!
Well, that happens when you use copy and paste🙈

Will be fixed in the next update:)

[2019-12-28 17:04] D0miH commented on #57
Yeah, without the leading zero it is prettier.

Will be fixed with the next update.

[2019-12-28 17:08] D0miH commented on #56
This seems like a good idea. Having this feature one could remove the default battery from the main menu.

Since I am currently rewriting the whole app I will look into this after #25 is merged.

[2020-01-03 14:48] D0miH commented on #49
As a follow-up for @tempusthales or others that read this thread I wanted to add that maybe you could try to refund the app.

More information can be found on this website:
https://support.apple.com/en-us/HT204084

[2020-01-09 16:42] D0miH opened #67 "iGlance crashes during sleeping"
**Describe the bug**
When the computer enters sleep mode and is woken up after some time iGlance is no longer running.

**To Reproduce**
Steps to reproduce the behavior:
1. Start iGlance
2. Let the computer sleep
3. Wait for some time (idk how long maybe an hour or so)
4. Wake the computer up.

**Expected behavior**
iGlance should be running after waking the computer.

**Desktop (please complete t

[2020-01-09 17:13] #40 closed

[2020-01-09 17:13] #57 closed

[2020-01-09 17:13] #65 closed

[2020-01-09 17:13] #67 closed

[2020-01-13 15:03] D0miH opened #69 "Refactor SystemKit library"
At the moment the SystemKit library is working just fine. However if we want to add more features to this library we should refactor it first in favour of better error handling and better logging

[2020-01-16 04:43] leet-physics opened #70 "I dont know why but everytime I turn off Wi-Fi, iGlance just quit"
I have tried reinstall, but not work.

[2020-01-16 06:15] tom10271 commented on #45
"Check for updates on wake up" can now be disabled

This is not working. I have unchecked it and still got 1.4.3 update popup

[2020-01-16 08:11] D0miH commented on #45
oh you are right. I spotted a bug in the code.
This will be fixed with the next update.

[2020-01-16 10:42] shahnewazrifat opened #71 "App won't launch in Catalina 15.2"
**Describe the bug**
Tried both installing manually from releases and brew cask. Double clicking the icon only flashes for a second and nothing happens.

**To Reproduce**
1. Install on Catalina 15.2
2. Double Click on iGlance.app

**Expected behavior**
App shows up
**Screenshots**
**Desktop (please complete the following information):**
 - OS: [e.g. iOS] MacOS Catalina 15.2
 - Version of the app:

[2020-01-16 10:52] D0miH commented on #71
Hey @shahnewazrifat,

thanks for your bug report.
I can't reproduce this problem on my machine.
Please try the following:
1. Double-click the app
2. Open "Activity Monitor" and search for "iGlance" while having selected the "CPU" tab.
Is iGlance shown in the list of running processes?

If it is shown in the list I suppose the menu bar icons are not shown and something went wrong with the default p

[2020-01-16 10:54] #49 closed

[2020-01-16 12:08] D0miH commented on #70
Hey @leet-physics,

thanks for your bug report.
I guess iGlance is somehow crashing when you turn off Wifi. Could you provide a crash report?

You can get the crash report by opening the Console.app application and click in the sidebar on "Crash Reports". iGlance should show up in the list of crash reports. Then right click on the iGlance crash report and click "show in finder" to upload the file

[2020-01-17 05:46] shahnewazrifat commented on #71
Hi @D0miH !
Thanks for the response!

But no, it's not there in Activity Monitor (CPU Tab). :(
It just feels like when I double click - it does nothing.

[2020-01-17 05:46] shahnewazrifat commented on #71
P.S., I did allow it from privacy etc.

[2020-01-17 14:24] D0miH commented on #71
hmm this seems strange. Are there any crash logs you can upload? You can find crash logs by opening the "Console.app"-app and click on "Crash Reports" in the sidebar. If there are any crash reports of iGlance they should appear in the list.

[2020-01-19 14:40] nadavf24 commented on #71
hi have just reproduced the same bug with the exact same symptoms seems to be a mac os related bug

Logs: [](https://pastebin.pl/view/bc20d8ef)

[2020-01-19 15:06] D0miH commented on #71
Hey @nadavf24,
thanks for the crash report. As far as I can see this issue is related to the initialization of the fan component of the app.
@shahnewazrifat @nadavf24 What machines are you using? Does your machine have a fan? Or do you guys have a fan-less machine like for example the Macbook Air?

[2020-01-20 09:29] nadavf24 commented on #71
it a last gen macbook fanless......

[2020-01-20 09:31] D0miH commented on #71
ok. Thanks for the detailed information:)

I will look into it. A hotfix should be released in the next few days.

[2020-01-20 12:42] shahnewazrifat commented on #71
Thanks so much @nadavf24 and @D0miH !!! really appreciate it.
It works fine on my MacBook Air (late 2013)
The problem is in a Hackintosh. I think the root cause is same - it cannot find the fan :-D

Sorry I should have mentioned it. I thought the OS version is all that matters.

[2020-01-20 17:07] #45 closed

[2020-01-20 17:07] #71 closed

[2020-01-20 17:26] D0miH commented on #71
I just published a hotfix. Please re-download the latest release and try again:)

[2020-01-20 18:06] shahnewazrifat commented on #71
@D0miH Can't thank you enough!! Worked like a charm!

You're the best! 🎉
And this app is simply awesome <3

[2020-01-22 04:22] Noragami-1 opened #72 "can not change color with dark mode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-22 04:23] Noragami-1 commented on #72
just like what i have write

[2020-01-22 08:51] D0miH commented on #72
Hey @Noragami-1,

thanks for the bug report. However I need a bit more information to investigate the issue. Please fill out the form above and explain when and where the issue appears.

[2020-01-23 10:24] Noragami-1 commented on #72
Describe the bug
  when the mac's dark mode change, it can't change its color in menu bar。
To Reproduce
  almost every times
Screenshots
no
Desktop (please complete the following information):

OS: mac os 10.15.2
Version of the app: iGlance 1.4.3

[2020-01-23 17:13] D0miH commented on #72
Sorry, but i can't reproduce this bug. When I use light mode and change to dark mode all the icons in the menu bar change their color as expected from black to white.

[2020-01-24 02:00] Noragami-1 commented on #72
but it can't auto change, it can change when you  manually change it, it can works.

[2020-01-24 02:24] Noragami-1 commented on #72
![截屏2020-01-2410 23 54](https://user-images.githubusercontent.com/55731171/73040212-b40bac80-3e93-11ea-953a-6f8d42a28d54.png)

[2020-01-25 08:17] D0miH commented on #72
ok, I see.  I will look into this issue.

[2020-01-25 10:11] TheTilodon commented on #70
I got the same problem when I go on VPN. BTW the VPN traffic will not be shown.

[2020-01-25 18:38] D0miH commented on #70
Hi guys,
so I could reproduce this bug and looked into the problem. This should be fixed with the next update:)

[2020-01-25 18:58] D0miH commented on #72
So I looked into it and found the bug which caused this behaviour. This issue will be fixed with the next update :)

[2020-01-26 02:50] Noragami-1 commented on #72
OK，thank you

[2020-01-30 09:30] D0miH opened #73 "Refactor SMCKit library"
At the moment the SystemKit library is working just fine. However if we want to add more features to this library we should refactor it first in favour of better error handling and better logging

[2020-01-30 23:31] 4goodapp opened #74 "Internet usage per session"
Is it possible to have internet/network bandwidth usage in mb in networks session?
It's handy when you use limited data.
Currently we only have network speed.

[2020-01-31 11:55] D0miH commented on #74
Hey @4goodapp,
thanks for your suggestion.
At the moment the internet bandwidth usage is shown for the last hour. If I understand you correctly your suggestion is to move that into the menu bar and instead of displaying the bandwidth usage of the last hour, display the bandwidth usage of the whole session, correct?

This is a good idea indeed. However one question I have is what the definition of

[2020-02-01 01:32] 4goodapp commented on #74
Ohh, Thanks, I didn't expect we have this info by clicking on the networks speed.
But you're right, I suggest to have an option to display it into the menu bar just like the the one for speed. (I personally don't monitor networks speed usually).

Exactly, but with option to reset it manually too.
the idea is to replace [Bandwidth+](https://apps.apple.com/us/app/bandwidth/id490461369?mt=12) which I

[2020-02-01 09:48] D0miH commented on #74
This seems like a very good idea 👍
I will look into this after releasing the next version :)

[2020-02-01 12:15] 4goodapp commented on #74
Perfect!

_Offtopic:_

What are the main feature of the next version btw?

[2020-02-01 12:16] D0miH commented on #74
At them moment I am rewriting the whole app. As a result the app should be more stable and has a new user interface. You can see some of the features [here](https://github.com/iglance/iGlance/projects/1).

[2020-02-01 12:22] 4goodapp commented on #74
Awesome, you available on Discord?

[2020-02-01 15:38] D0miH commented on #74
No, I don't have a Discord account/server.

[2020-02-01 19:08] 4goodapp commented on #74
OK,
Well am interested to participate for the website if it's not done yet.
Have any idea about it

[2020-02-02 08:06] uqix opened #75 "It stops updating metrics after my Mac wakes from sleep"
**Desktop (please complete the following information):**
 - OS: 10.15.2 (19C57)
 - Version of the app: 1.4.3

[2020-02-02 09:09] D0miH commented on #75
Hey @uqix,
thanks for reporting the issue.

To narrow down the issue here some questions:
- Do you have `Check for updates when waking up` activated?
- Are you connected to the internet when the problem appears? Or are you completely offline?

[2020-02-02 09:10] D0miH opened #76 "Create iGlance website"
For better user experience iGlance should have a website from which the user can see all features and can directly download the app.

The current idea is that GitHub Pages is used. The corresponding GitHub Pages repository can be found [here](https://github.com/iglance/iglance.github.io).

[2020-02-02 09:14] uqix commented on #75
@D0miH

Yes, this option is activated

Yes, the internet is available

[2020-02-02 09:16] D0miH commented on #74
This would be awesome. I created a seperate issue for this (#76).
My current idea is to use github pages with a jekyll theme. However I haven't thought about what should be displayed on the website. I need to think about that. I will then update issue #76 and let you know :)

[2020-02-02 09:17] uqix commented on #75
OMG! I just realized the update-check needs access to GitHub content  which may be f*king blocked by CGW

[2020-02-02 09:19] uqix commented on #75
@D0miH May be we could just give up the update-check instead of malfunction if the network is unavailable?

[2020-02-02 09:22] D0miH commented on #75
Glad you resolved the issue :)

Yeah, the current way of checking for updates is ... lets say suboptimal. However with version 2.0 this will be no problem anymore since [Sparkle](https://sparkle-project.org) will be used (see issue #62).

[2020-02-02 09:22] #75 closed

[2020-02-02 09:24] uqix commented on #75
Thanks! Looking forward to it!

[2020-02-02 19:30] 4goodapp commented on #74
OK, Perfect!

[2020-02-03 07:45] uqix commented on #75
@D0miH The problem reoccurs  when Mac wakes from totally sleep for like 30 mins,
Here is my config screenshot:
![image](https://user-images.githubusercontent.com/10142314/73634442-2ce0e480-469c-11ea-8e46-e94bd5c5bd3e.png)

[2020-02-18 06:44] RobertasMurnikovas opened #77 "Random crashes"
Every once in a while the app just freezes. Sometimes it happens while pc is being asleep or just randomly I notice that the cpu/mem graphs freezed and have to restart the app. Could someone look into this, sorry, but I don't have any specific errors to output.

iGlance 1.4.3

macOS 10.15.3 19D76 x86_64
Kernel: 19.3.0
CPU: Intel i5-5257U (4) @ 2.70GHz
GPU: Intel Iris Graphics 6100

[2020-02-18 08:27] D0miH commented on #77
Hey @RobertasMurnikovas,
sorry you are experiencing stability issues.
As you can imagine it is hard to debug without any specific evidence what went wrong. To fix this I am going to release a new Version in the next few days where the whole app is re-written to be more stable and has substantially more logging info. This will help me in the future to debug issues like yours.

 I hope you can bear

[2020-02-18 10:14] RobertasMurnikovas commented on #77
Great, will wait for the new version, thanks for this quick replay!:)

[2020-02-18 13:57] #77 closed

[2020-03-11 07:56] tom10271 commented on #45
When will this be released?

[2020-03-11 08:15] D0miH commented on #45
Hey,

the fix should already be released with the last currently available version of the app.
Do you experience any specific problem?

PS: Sorry I didn't let you know that the bug is now fixed 🙈

[2020-03-11 08:38] tom10271 commented on #45
Oh I thought this is not included in 1.4.3 as it is not mentioned in releast note.

[2020-03-11 08:45] D0miH commented on #45
oh, yeah I forgot to put in the release notes

[2020-03-21 14:23] D0miH commented on #76
moved this issue to https://github.com/iglance/iglance.github.io/issues/1

[2020-03-21 14:23] #76 closed

[2020-03-21 15:38] D0miH commented on #74
Hey @4goodapp,

do you still want to work on the website?
I create a new issue for the website over at https://github.com/iglance/iglance.github.io/issues/1.
I added some things that should be mentioned on the website. If you want you can create some sort of sketch and post it as a comment to the issue.

[2020-03-21 15:55] D0miH commented on #73
moved this issue to https://github.com/iglance/SMCKit/issues/2

[2020-03-21 15:55] #73 closed

[2020-03-21 15:57] D0miH commented on #69
moved this issue to https://github.com/iglance/SystemKit/issues/1

[2020-03-21 15:57] #69 closed

[2020-03-23 08:09] programmerzlp opened #78 "iGlance will crash when I connect vpn success"
iGlance will crash when I connect vpn success

[2020-03-23 08:20] D0miH commented on #78
Hey @programmerzlp,
thanks for reporting the bug. I think this is related to #70 and will be fixed with the next update.

[2020-03-23 08:20] #78 closed

[2020-03-23 19:26] 4goodapp commented on #74
Hey, Of course, I'll take a look. Will send some sketch.

[2020-03-28 18:59] #70 closed

[2020-03-28 18:59] #72 closed

[2020-03-28 18:59] #74 closed

[2020-03-28 18:59] #25 closed

[2020-03-28 18:59] #56 closed

[2020-03-28 18:59] #62 closed

[2020-03-28 20:09] D0miH opened #82 "App is not starting"
**Describe the bug**
On a Macbook Pro from 2015 the app is not starting.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the latest release
2. Try to start the app
3. The app is not starting

**Expected behavior**
The app should start.

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.3
 - Version of the app: 2.0

[2020-03-28 23:44] 4goodapp commented on #74
[Group 15.pdf](https://github.com/iglance/iGlance/files/4398073/Group.15.pdf)
![Group 11](https://user-images.githubusercontent.com/6249230/77836430-fb414280-714d-11ea-95b2-63ba71f1e835.png)
![Group 12](https://user-images.githubusercontent.com/6249230/77836432-fed4c980-714d-11ea-8e7e-fa7cf898b2e9.png)
![Group 13](https://user-images.githubusercontent.com/6249230/77836433-0005f680-714e-11ea-8bc2-f

[2020-03-29 03:29] jsoh commented on #82
The latest `2.0` release does not start on macOS 10.15.4 either. I also have the MacBook Pro (Retina, 15-inch, Mid 2015).

I have attempted installation with `brew cask install iglance` and manual download. Neither have worked for me.

[2020-03-29 04:41] TimeDoctor commented on #82
I'm on 10.14.6 and have a similar issue. Crashlog from console:

[iGlance_2020-03-28-183917_idalek.crash.txt](https://github.com/iglance/iGlance/files/4398289/iGlance_2020-03-28-183917_idalek.crash.txt)

[2020-03-29 07:54] scor2k opened #83 "The app is crashed every time I connect to the VPN"
**Describe the bug**
The app is crashed every time I connect to the VPN if the network usage is on.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable network usage option
2. Connect to a VPN
3. App is crashed

**Expected behavior**
The app should continue working :)

**Desktop (please complete the following information):**
 - OS: macOS Catalina 10.15.3 (19D76)
 - Version of the app: 2.0

[2020-03-29 08:02] D0miH opened #84 "Save the checkbox 'Advanced Logging' in the user settings"
**Describe the bug**
When activating advanced logging, closing the settings window and afterwards reopen the settings window the checkbox of the advanced logging feature is not activated.

**To Reproduce**
Steps to reproduce the behavior:
1. Open preferences
2. Activate the advanced logging feature
3. Close the settings window
4. Open the settings window again

**Expected behavior**
The checkbox s

[2020-03-29 08:06] D0miH commented on #83
Hey @scor2k,
thanks for reporting this bug🐛 report. Because it is hard to diagnose this bug without any further information could you please enable 'Advanced Logging' in the settings and then perform the actions that lead to the crash? After activating 'Advanced Logging' you can find the log file under `~/Library/Logs/iGlance`.
You can append the file under `Additional context` when editing your b

[2020-03-29 08:12] scor2k commented on #83
Hi, @D0miH!

You can find this report attached.

[io.github.iglance.iGlance 2020-03-29--08-09-29-962.log](https://github.com/iglance/iGlance/files/4398448/io.github.iglance.iGlance.2020-03-29--08-09-29-962.log)

[2020-03-29 08:51] D0miH commented on #82
Hey guys,

thanks for the feedback.
This bug should now be fixed with 11f9a70f7bca4bb7d4d5e42b76e55b5da2f6ff1d and b949bc01f33922ff267028a2a6f1f110f8f98cf1.
The app is now launching on my Macbook Pro 2015.
Could you please try to install the newest version and check whether the app is launching on yours too?

Cheers

[2020-03-29 08:59] D0miH opened #85 "Dashboard shows wrong system information"
**Describe the bug**
When opening the app on some machines the system information is not set. Therefore the default values are displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Open the dashboard

**Expected behavior**
The correct system information of the machine should be displayed

**Screenshots**
As you can see the system information on this Macbook Pro with only 8 GB of RAM and

[2020-03-29 09:00] jsoh commented on #82
@D0miH Confirmed to be working. I downloaded the latest version 2.0.2 and it starts as expected.

Thank you!

[2020-03-29 09:01] D0miH commented on #82
Nice👍🏼

[2020-03-29 09:01] #82 closed

[2020-03-29 14:57] #84 closed

[2020-03-29 17:31] D0miH commented on #85
Can't reproduce the bug anymore

[2020-03-29 17:34] #83 closed

[2020-03-30 03:07] Planktonette commented on #85
I can confirm I encountered the same issue:

![image](https://user-images.githubusercontent.com/5514719/77871382-cd650800-71f8-11ea-9a1b-d40973226560.png)

After restarting the app it finds the correct information.

![image](https://user-images.githubusercontent.com/5514719/77871418-e968a980-71f8-11ea-827b-26bcb6631075.png)

[2020-03-30 05:20] D0miH commented on #85
Hey @Planktonette,
thanks for confirming the issue. I will look into it:)

[2020-03-30 08:27] D0miH commented on #74
Hey,
thanks for your sketches. They look awesome!

I would prefer the grey/blueish color theme as it it fits better to the light theme of the app.
An additional color theme of the website for the dark theme of the app would be nice. We could then maybe detect if the user has dark theme in osx enabled and display the appropriate theme for the website. Maybe we could use [this](https://css-tricks.co

[2020-03-30 11:03] tech189 opened #92 "Option to change menubar font"
**Is your feature request related to a problem? Please describe.**
It would be nice to change the font for the text on the menubar!

**Describe the solution you'd like**
A menu in the settings to change the font

**Describe alternatives you've considered**
Could switch back to a version before 2.0, when the font used was the system font so it matched perfectly with the default time and battery per

[2020-03-30 11:05] tech189 commented on #85
I was able to reproduce this too, although it reappeared shortly after restarting the app
<img width="595" alt="Screenshot 2020-03-30 at 11 53 10" src="https://user-images.githubusercontent.com/10728085/77905676-95a0a380-727e-11ea-836d-e08043b61333.png">

[2020-03-30 12:12] tech189 opened #93 "Window selection menu item under Diagnostics"
**Describe the bug**
The window selection menu item is found both under Window and Diagnostics.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to menubar
2. Click on iGlance
3. Click on Settings
4. Now dashboard is open, look at top left of screen
5. Click on Window, see "✔️ iGlance" (this is in the correct place)
6. Click on Diagnostics, see "✔️ iGlance" (this should not be here too)

*

[2020-03-30 12:25] D0miH commented on #92
Hi @tech189,
thanks for the feedback. Indeed this is a point I didn't think about when choosing the font. I thought the font I chose was the system font, but when looking closely I can see that it is not.
I will try to find a way that the system font (as well as the system font size) is used to render the text in the menu bar.

[2020-03-30 12:33] D0miH commented on #93
Hi @tech189,

thanks for pointing it out. You seem to examine the app very thoroughly 👀😉. I would have never catched that mistake👍🏼

[2020-03-30 13:39] 4goodapp commented on #74
Cool, Glad you like it... didn't have much time to do it...

Woaaw, This looks awsome, didn't know we can have this. But yeah, why not.

I think a simple HTML one will work as it's a really simple site.

-----

I'll try to code it tonight or tomorrow if that's OK.

[2020-03-30 16:16] tech189 commented on #93
Haha no problem, hopefully if you fix that it will remove the greyed out "Move Window to Left/Right Side of Screen" entries from the Diagnostics menu too 😄

[2020-03-30 21:36] enthea opened #94 "Temperature indicator shows -1º"
**Describe the bug**
Temperature indicator shows -1º

**To Reproduce**
Start iGlance. Showed -1. Changed setting from C to F. Still showed -1.

**Expected behavior**
I expect the temperature indicator to show the current temperature.

**Screenshots**
![image](https://user-images.githubusercontent.com/62910825/77964197-ebd00f80-729b-11ea-9e08-b85e9cadd38f.png)

**Desktop (please complete the follow

[2020-03-31 06:31] D0miH commented on #74
Perfekt! You can just submit a PR that addresses https://github.com/iglance/iglance.github.io/issues/1 at the [iglance.github.io](https://github.com/iglance/iglance.github.io) repository.

[2020-03-31 07:21] D0miH commented on #94
Hey @enthea,
thanks for reporting the bug. To investigate the issue I need more information.
Could you upload the latest log file in a comment in this issue here? You can find the log files of iGlance under `~/Library/Logs/iGlance`.

[2020-03-31 08:37] khorolets commented on #94
Hi there, the same issue, attaching my log

(iMac 2019, fresh Catalina 10.15.4)

[io.github.iglance.iGlance 2020-03-31--08-33-52-417.txt](https://github.com/iglance/iGlance/files/4407701/io.github.iglance.iGlance.2020-03-31--08-33-52-417.txt)

[2020-03-31 14:05] D0miH opened #95 "Add release notes to update window"
**Is your feature request related to a problem? Please describe.**
When the user is prompted that a new update is available the user gets no information what changes with the new version of the app.

**Describe the solution you'd like**
Sparkle allows to use html files (which can be served on the repository) to display release notes.

**Describe alternatives you've considered**
The alternative is

[2020-03-31 14:12] D0miH opened #96 "Check if battery exists on startup"
**Is your feature request related to a problem? Please describe.**
When the app is run a machine that has no battery e.g. iMac the app tries to constantly read battery information and logs the errors since no battery is present.

**Describe the solution you'd like**
The app should check whether a battery is present once on startup. If no battery is present the calls to read the battery information

[2020-03-31 14:20] D0miH opened #97 "Add option to export the most recent log file"
**Is your feature request related to a problem? Please describe.**
When the user wants to report a bug it is necessary to upload the most recent log file. At the moment the user has to manually navigate to the `~/Library/Logs/iGlance/` directory and copy the log file.

**Describe the solution you'd like**
A better (and more user friendly) way would be to add a button in the app menu under `Diagnos

[2020-03-31 14:53] D0miH commented on #94
Hey @khorolets, @enthea,

so i think I figured it out what caused the bug. It should be fixed with the next update :)

[2020-03-31 15:26] khorolets commented on #94
@D0miH nice to hear that! Great app btw, thank you for your work!

[2020-03-31 15:28] D0miH opened #99 "Add Roadmap to readme file"
**Is your feature request related to a problem? Please describe.**
When others want to contribute to the project they should have an idea of where the app  is heading.

**Describe the solution you'd like**
Therefore a rough roadmap in the readme file would be nice.

[2020-03-31 16:35] Metacomet10 commented on #85
Still happening on 2.0.3 upon boot, restarting the app does still work to make it report correctly. Not sure if 10.15.4 vs 10.15.3 is a factor.
<img width="1327" alt="Settings and menu bar with all indicators active" src="https://user-images.githubusercontent.com/6789837/78051457-8f6bff00-7332-11ea-9837-396cfc263f04.png">

[2020-03-31 20:46] neoneye opened #101 "Visualization of the network traffic"
# Problem

I get frustrated when there is a fallout in my internet connectivity. This happens several times per month. It it just incredible slow right now or has the traffic stopped entirely.

# Solution
Show sparklines in the menu bar for the last 10 minutes, where each pixel is a sample.
https://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0001OR

[2020-04-01 04:47] hjleesm opened #102 "I want to set order of menu bar icon."
Thank you for this program and I am using it well.
I would like to suggest one feature.

**Is your feature request related to a problem? Please describe.**
I set order of menu bar icon.
After restart app, order of menu bar icon is back to original order.

**Describe the solution you'd like**
Please provide automatic order saving function or ordering setting.

[2020-04-01 15:19] D0miH opened #103 "Add warning that "iStats X" is not our app"
**Is your feature request related to a problem? Please describe.**
We should make clear that we have nothing to do with the app "iStats X: CPU & Memory" in the app store and that this app is not ours.

[2020-04-01 15:45] D0miH commented on #101
Hey @neoneye,

thanks for your suggestion. I like the idea very much!
I think the the following things should be kept in mind when implementing the feature:
- I think it should be possible to change the color of the lines
- Maybe the lines have to be scaled depending on what the highest value of the line currently is. The result should be that the highest point of the line (only if there are value

[2020-04-01 16:00] D0miH commented on #102
Hey @hjleesm,

I think this is an important point you mention there. However I think instead of somehow "saving" the order of the menu bar items it would be better to change the overall way we add items to the menu bar. The idea I am having here is that it might be better to use drag and drop to add and rearrange the menu bar items. This way the user could have an interactive and visual way of see

[2020-04-01 17:10] D0miH opened #107 "Reduce size/resolution of preview screenshot"
**Describe the bug**
The screenshot is loading to slow when opening the github repository.

[2020-04-01 17:49] #94 closed

[2020-04-01 17:49] #93 closed

[2020-04-01 17:53] #107 closed

[2020-04-01 17:53] #103 closed

[2020-04-01 18:00] #99 closed

[2020-04-01 18:01] #95 closed

[2020-04-01 18:01] #92 closed

[2020-04-02 02:13] hjleesm commented on #102
Oh! That's good idea!
I hope this feature has been committed!

[2020-04-02 17:17] D0miH opened #115 "Fix bug report template"
The bug report template is now showing up when creating a new issue

[2020-04-02 17:24] #115 closed

[2020-04-02 17:29] D0miH opened #118 "Add functionality to Preference app menu entry"
**Is your feature request related to a problem? Please describe.**
All other osx apps have a menu entry to open the preferences of the app under `<app_name> > Preferences...`. Therefore it would be nice to have this menu entry too.

**Describe the solution you'd like**
When the user clicks the `Preferences` app menu entry the preferences modal opens just like when clicking on the little cogwheel.

[2020-04-02 17:35] D0miH opened #119 "Import, export and reset the settings of the app"
**Is your feature request related to a problem? Please describe.**
It would be nice to import and export the settings to share the current settings with other users (i.e. for debugging purposes). It would be also nice to have a button that resets the settings.

**Describe the solution you'd like**
Add three buttons in the `File` app menu.
1. An `Import...` menu entry that opens a file dialog to im

[2020-04-02 17:39] D0miH commented on #102
Yeah, I hope it will be included in the next major update :)

I just hijacked your issue for this feature 🙈 😄

[2020-04-02 17:45] D0miH opened #120 "Use database to save read system info"
**Is your feature request related to a problem? Please describe.**
When changing the appearance of the menu bar items (i.e. changing the width of the menu bar graphs) the information is read on every rerender. This is because the information is read within the update loop of the menu bar items.

**Describe the solution you'd like**
The solution would be to have two independent update loops. One fo

[2020-04-03 16:10] khorolets opened #121 "Disk free space widget"
Hi! First of all, I love your project, using it on every mac I have. Appreciate your work!

**Is your feature request related to a problem? Please describe.**
The app I was using before iGlance is iStatMenus (if I'm not mistaken). There was nice widget (idk what term you use for that CPU, RAM, Network things on a bar). There were two letters F (fo Free space left on the disk) and U (for used place

[2020-04-03 16:23] D0miH commented on #85
Hey @Metacomet10,
thanks for your in-depth analysis. I have access to a macbook pro from 2015.
I will try to reproduce this bug and try to fix it.

[2020-04-03 16:30] D0miH commented on #121
Hey @khorolets,

thanks for your feedback. This is a good idea!
However I think I have to postpone to implement this feature until after version 2.1 of the app is released. I will add it to the feature list for version 2.2.

However, if you really need this feature and want work on it feel free to do so and open a PR :)

[2020-04-03 17:09] khorolets commented on #121
@D0miH oh, since you have time and patience to wait, I’d like to try. Swift is my very new passion. Would appreciate if you point me some places and other stuff I might need to implement it.

[2020-04-03 17:20] D0miH commented on #121
Glad to hear you want to try it!👍🏼

After a quick google search I think those two sites could help you reading the disk size:
https://eclecticlight.co/2018/02/05/scripting-in-swift-checking-free-disk-space/
https://developer.apple.com/documentation/foundation/urlresourcekey/checking_volume_storage_capacity

As for integrating it into the app I think the main steps you have to do are the following:

[2020-04-04 14:44] sisyphosloughs opened #122 "Update from 1.4.3 to 2.0.4 via brew does not work"
**Describe the bug🐛**
I followed the instructions in the warning message. Unfortunatly the Version is not able to upgrade iGlance on my Mac (macOS 10.15.3 (19D76)).

**To Reproduce**
Steps to reproduce the behavior:

1. Get infomations about the cask **iglance**:
[code]
2. I copy and pated the command from the iGlance-window:
[code]
3. I reproduced step 1:
[code]
4. I restartet the computer. The i

[2020-04-04 15:50] D0miH commented on #122
Hey @sisyphosloughs,

sorry for the inconvenience. I am not sure why this is happening.
This might happen due to introducing auto updating to iGlance in version 2.0.
Did you try to uninstall iGlance and reinstall it using brew?

[2020-04-04 16:36] sisyphosloughs commented on #122
@D0miH,
Thank you very much, that worked:
[code]
So that worked. From my point of view, I'd only change the text in the information window, because the suggestes procedure does not work. Something like 'uninstall and install' would be enough.

Of course I have lost my settings, but on the other hand, the tool is so handy (what I really like), that users can configure in less then 2 minutes.

The r

[2020-04-04 19:52] D0miH commented on #122
Glad it worked:)

[2020-04-04 19:52] #122 closed

[2020-04-04 20:58] revonoc opened #123 "Memory bug (or question if I'm misinterpreting)"
**Describe the bug🐛**
Memory numbers on bar when clicked on do not add up to my total memory (8GB). For instance, Activity Monitor gives me 2 gigs free right now, iGlance just 0.1 - is this a bug?

**To Reproduce**
Click on memory bar in menubar

**Screenshots (Optional)**
If applicable, add screenshots to help explain your problem.
<img width="203" alt="Screen Shot 2020-04-04 at 16 53 43" src="ht

[2020-04-05 12:45] D0miH commented on #123
Hey @revonoc,

you are totally correct in your assumption that this is a bug. So thanks for reporting it!👍🏼
It will be fixed in the next version of the app:)

[2020-04-05 21:00] revonoc commented on #123
Amazing, thanks so much!

[2020-04-06 03:21] revonoc opened #125 "Menubar items stop refreshing after sleeping"
**Describe the bug🐛**
Netowork module displays 0KB/s up and down despite being online and browsing/watching videos/Zooming

**To Reproduce**
Not entirely sure - seems to have happened when i woke my computer from sleep or switched to VPN

**Expected behavior**
Shows traffic numbers

**Screenshots (Optional)**
<img width="96" alt="Screen Shot 2020-04-05 at 23 13 25" src="https://user-images.githubu

[2020-04-06 15:27] D0miH commented on #125
Oh, this is strange!
Could you upload the log file that was created when the bug occurred? Even though you haven't had "Advanced Logging" enabled errors should still be logged. The log files have their creation date in their name and each 24 hours a new log file is created.

Would be a huge help if you provide the error log :)

[2020-04-07 22:59] sercant commented on #125
In my case, everything (network, memory, cpu, temperature) gets stuck. I have noticed that it usually happens after waking up from a long sleep.

Logs file has this line only:

[code]

[2020-04-07 23:56] revonoc commented on #125
I've started to notice the same thing that everything is locking, I have to restart the app and everything works. Both wake-ups and network changes I think?

[2020-04-08 00:46] aptagood opened #126 "Fan speed is 0 RPM on 2015 MBP 13""
**Describe the bug🐛**
The Fan module reports 0 RPM all the time.

**To Reproduce**
Check the box to Show Fan Speed in iGlance Settings

**Expected behavior**
Fan should show a value >0.

**Screenshots (Optional)**
![image](https://user-images.githubusercontent.com/11530868/78732489-9af19400-78f7-11ea-80ec-83270db8c40b.png)

**Desktop (please complete the following information):**
- MacOS Version:

[2020-04-08 04:36] huadong opened #127 "cpu monitor issu"
**Describe the bug🐛**
iGlance display 100% CPU used frequency, but top command display CPU is 99% idle.

**Desktop (please complete the following information):**

- MacOS Version: 0.15.4 (19E266)
- Version of the app: 2.0.4

![image](https://user-images.githubusercontent.com/2927763/78744811-1e14f780-7995-11ea-9fd3-5c6b08d0ec8f.png)

[2020-04-08 04:38] huadong commented on #127
Log:
[code]

[2020-04-09 13:39] D0miH commented on #127
Hey @huadong,
thanks for reporting the issue. Are the other menu bar items of iGlance still updating or is everything freezing?

[2020-04-09 13:42] D0miH commented on #126
Hey @aptagood,
I don't think that this is a bug. It can be the case that the fans on a 13 inch machine don't spin at  all when the cpu is not under high load.
You could test this theory by stressing the cpu a bit and then check if the fans are spinning?

[2020-04-09 13:43] D0miH commented on #125
Hey guys,
so I have an idea what could cause this bug. I will check it out in the next few days :)

[2020-04-10 03:27] huadong commented on #127
iGlance keep updating every 2 seconds.

[2020-04-10 03:33] huadong commented on #127
When I disable `Use color gradient`, it works fine.

[2020-04-10 16:30] D0miH commented on #127
ahh, ok. Thanks for the additional info :)

[2020-04-10 20:31] D0miH commented on #127
Good news! I found the bug. This will be fixed with the next update that is coming in the next few days:)

[2020-04-10 20:34] #126 closed

[2020-04-14 03:01] caecebo opened #129 "The logo is really ugly and doesn't fit in with the rest of the app :("
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I want a logo that speaks the same language the rest of the app does.

**Describe alternatives you've considered**
I am not sure if this applies.

**Additional context**
![iGlance_logo_black](https://user-images.githubusercontent.com/62819080/79181537-2ecccf80-7dd2-11ea-9489-82ef54710792.pn

[2020-04-15 01:25] aptagood commented on #126
You were totally correct.  Eventually the fans kicked in and RPM meter showed > 0.
Thanks!

[2020-04-15 15:53] nbigaouette opened #130 "iGlance stops refreshing after resume"
**Describe the bug🐛**

iGlance 2.0.4 will stop refreshing its widget after a resume from suspend.

Going in the preferences and chaning the refresh rate will make it work again.

**To Reproduce**
Steps to reproduce the behavior:

1. Launch iGlance
2. Suspend the laptop
3. Resume the laptop
4. See error

**Expected behavior**

iGlance should continue to refresh its widget after resume.

**Screensho

[2020-04-15 16:52] #129 closed

[2020-04-15 16:58] D0miH commented on #130
Hey @nbigaouette,

thanks for providing this feedback. As your issue is related to #125 I will close this issue here as duplicate. If you want to post your log file please do so in #125.

Cheers👋🏼

[2020-04-15 16:58] #130 closed

[2020-04-15 18:40] caecebo commented on #129
why do you not care about your app being beautiful and getting ruined by a horrible blue futura logo??

:((( im sure someone will care

it's not very inviting to download the app because it looks like what a small minecraft plugin developer would make to replace a logo on the spigot forums

[2020-04-16 14:29] D0miH commented on #129
I do care about the app! If you have constructive feedback I am absolutely open to change or improve the logo. But just criticising (imo in a harsh way) is not helpful and therefore I closed the issue.

[2020-04-16 14:30] nbigaouette commented on #125
This morning the I had the problem, I'm uploading the log file.

I'm not seeing anything useful in it though. It looks like it stopped logging yesterday night?

In any case, here it is:
[io.github.iglance.iGlance 2020-04-15--23-50-17-633.log.gz](https://github.com/iglance/iGlance/files/4487768/io.github.iglance.iGlance.2020-04-15--23-50-17-633.log.gz)

[2020-04-16 14:32] nbigaouette commented on #125
I've went to the app's settings (it was still responsive) and changed the refresh rate (to 2 seconds). This "unfroze" iglance which started logging again. I'm attaching the updated file.

[io.github.iglance.iGlance 2020-04-15--23-50-17-633-after-refresh.log.gz](https://github.com/iglance/iGlance/files/4487781/io.github.iglance.iGlance.2020-04-15--23-50-17-633-after-refresh.log.gz)

[2020-04-16 14:36] D0miH commented on #125
Hey guys,

so I looked into it and I think the problem is that the memory of the timer that is responsible for refreshing the app every <time_interval> seconds is freed and therefore the app frozen.
I will implement a fix and will release a new version that includes some other bug fixes

[2020-04-16 16:32] Moneypulation opened #136 "Missing didSet{} in NetworkViewController"
**Describe the bug🐛**
Network usage checkbox doesn't update visually when changing the setting

**To Reproduce**
Steps to reproduce the behavior:

1. Open network tab in the GUI
2. Change the checkbox
3. Move to a different tab and then back to network
4. Checkbox displays wrong setting (only visually!)

Should be easily fixed when adding didSet{} like in other viewcontrollers

[2020-04-16 17:12] #127 closed

[2020-04-16 17:12] #118 closed

[2020-04-16 17:25] #123 closed

[2020-04-16 17:25] #97 closed

[2020-04-17 08:59] D0miH commented on #85
@Metacomet10,
so I tried to reproduce the bug as you described on a 2015 MacbookPro. But somehow I could not reproduce it. Everytime I restartet the computer the information on the dashboard was correct.

Can you reproduce the bug with the latest version (v2.0.5) of the iGlance?

[2020-04-17 11:01] ChillarAnand commented on #125
Thanks, @D0miH for the quick fix.

I have upgraded to 2.0.5. Still, I am facing the same issue. When mac goes to sleep and wakes up, iGlance stays in a frozen state.

[2020-04-17 11:36] D0miH commented on #125
hmm this is strange.
The steps to reproduce are still the same? Does this only occur on sleeping or also on changing the network as @revonoc described? How long is your computer (roughly) sleeping when this bug occurs? Because when I click the apple logo and select "sleep" the app is still refreshing after waking the machine up 30 seconds later.

[2020-04-17 12:56] ChillarAnand commented on #125
Switching network is not causing any problem. When mac sleeps for a while and wakes up,  I have faced the issue.

Will try to reproduce and provide exact steps.

[2020-04-17 13:07] D0miH opened #139 "Network speed is not correctly monitored when using a VPN"
**Describe the bug🐛**
A clear and concise description of what the bug is.
When beeing connected to a VPN the network menu bar item is displaying constantly displaying 0KB/s both for upload and download.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a VPN
2. Open a website or download something
3. The network speed is not shown

**Expected behavior**
That the current network spee

[2020-04-17 13:22] nbigaouette commented on #125
I've updated to 2.0.5 and though the issue was fixed, but it just happened again. I'm not even sure it happened during a suspend/resume cycle as I'm using the computer. I could be wrong though, but I though it was working when I started working this morning. I had to switch the refresh rate to make it work again...

[2020-04-17 19:54] Metacomet10 commented on #85
No, I am not able to reproduce the bug anymore. Still on 10.15.3.

On a separate note, even with the Autostart on Boot box checked, the app is not opening by itself. This has been an issue since 1.4.3 that I didn't notice until now. Though I do also have Malwarebytes, Avast, Dropbox, PIA, Memory Clean 2, AltServer, F.lux, Magnet, and Activity Monitor loading up on boot too..... so, that might affe

[2020-04-17 20:09] D0miH commented on #85
Ok, thanks for the feedback @Metacomet10. Since the issue is not appearing anymore I will close this issue.
If someone encounters this issue again, feel free to reopen it.

Yeah, it would be good to open a new issue for that. Otherwise it is going to be a bit confusing.

[2020-04-18 08:47] D0miH commented on #125
Ok, so I looked into it and I think the problem is now solved by moving the whole refreshing of the menu bar items into a separate background thread. I couldn't reproduce it with this fix and hope that the issue is now resolved.

[2020-04-18 13:06] D0miH opened #141 "Spikes in cpu usage line graph"
**Describe the bug🐛**
Some bars in the line graph spike to 100% when the cpu is not under load. This is due to the cpu usage being less than 1%.
**To Reproduce**
Steps to reproduce the behavior:

1. Activate cpu usage
2. Display the cpu usage as line graph
3. Activate color gradient
4. Stop all cpu intensive tasks and wait a bit.
5. See spikes in the line graph

**Expected behavior**
There shouldn

[2020-04-18 15:29] Moneypulation opened #142 "Example Settings to import"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Since we are adding an "Import settings" feature in 2.1, we can also create some nice ready-made settings users can simply import in the app. I would suggest we create a few and place them in a folder like "example settings" here in GitHub with preview images in the README file. Let me know

[2020-04-18 16:01] D0miH commented on #142
Sounds like a good idea! I will set up a github pages website the next few days. Maybe we can make some sort of shared community settings page where people can "upload" their settings by opening a PR to the github pages repo.

[2020-04-20 14:51] khorolets commented on #121
Hi @D0miH

Sorry for the delay (the work, you know)

I need some help. What've I done already:

* Add function to get necessary values about the disk usage into `/SystemInfo/DiskInfo.swift`
* Create `DiskUsageMenuBarItem: MenuBarItem` that is displaying everything properly

I've added new menu bar item [here](https://github.com/iglance/iGlance/blob/master/iGlance/iGlance/iGlance/MenuBarItems/MenuB

[2020-04-20 16:35] D0miH commented on #121
Hey @khorolets,

nice to hear you made progress!

To present the user a settings view within the iGlance window you basically have to do 3 things:
1. Adding a new view controller to the main storyboard that is linked to your `DiskViewController.swift` that you have to create in the folder `/MainWindow/MainViews/`. The view controller is called `DiskViewController` in the following, while the swift

[2020-04-20 16:40] GingkathFox opened #148 "iGlance doesnt open on startup"
**Describe the bug🐛**
Since i updated, iGlance has stopped opening on startup.

Autostart is enabled.

**To Reproduce**
Steps to reproduce the behavior:

Rebot, shut down, or log off and log back in. iGlance will be gone until you open it again.

**Expected behavior**
iGlance opens on startup (with a delay of maybe 3 seconds).

**Screenshots (Optional)**
If applicable, add screenshots to help expl

[2020-04-20 16:43] GingkathFox opened #149 "iGlance ticks boxes that are disabled"
**Describe the bug🐛**
I have the network usage widget disabled, but in the settings, the box is ticked.

**To Reproduce**
Steps to reproduce the behavior:

1. Disable a widget
2. click on another widgets settings
3. click back
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots (Optional)**
![Screen Shot 2020-04-20 at 12 42 31 PM](http

[2020-04-20 16:47] D0miH commented on #148
Hey @GingkathFox,
thanks for your bug report. I can't reproduce this bug on my end. Does this bug still occur with the newest Version of the app (Version 2.0.5)?.
Please try to un-check and ckeck the box and try again. Maybe this will fix it.

[2020-04-20 16:48] D0miH commented on #149
Hey @GingkathFox,
thanks for your bug report. This bug is related to #136 and will be fixed with the next update.

[2020-04-20 16:48] #149 closed

[2020-04-20 17:13] #125 closed

[2020-04-20 17:13] #136 closed

[2020-04-20 17:13] #141 closed

[2020-04-21 04:39] GingkathFox commented on #148
nope, un-ticking and ticking the box doesnt fix it.

[2020-04-21 07:20] D0miH commented on #148
oh, ok. Could you provide the latest log file from iGlance by exporting it from the app?
And if there is a log file at `~/Library/Logs/iGlanceLauncher` could you provide that too? This would help in tracking down what is going wrong.

[2020-04-21 09:11] khorolets commented on #85
@D0miH I guess this issue should be reopened.

I have totally wrong info in dashboard on start (2.0.6 installed via GitHub release zip file)

<img width="344" alt="image" src="https://user-images.githubusercontent.com/3235740/79847550-8ff33500-83c8-11ea-9167-b17fa420adc7.png">

RAM has to be 32, Disk should be 2 TB, GPU and CPU is wrong (placeholders I believe).
But it is weird, because on the fir

[2020-04-21 09:14] khorolets commented on #85
Additional info:

Once I've started the app and opened the window I see all the system info correct except the disk space. Then I go to any VC via sidebar (CPU for instance) and back to Dashboard and system info is displaying the placeholder values. Hope this'll help.

[2020-04-21 13:43] MattVanEy opened #153 "iGlance just closes after 10 minutes"
**Describe the bug🐛**
As the title says iGlance just closes itself after 10 minutes. It doesn’t freeze, it just disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Open iGlance
2. Wait 10 minutes
3. See the graphs disappear

**Desktop**
- MacOS Version: 10.15.4
- Version of the app: 2.0.6

**Log**
[iGlance_log_2020_04_21_15_39.log](https://github.com/iglance/iGlance/files/4510326/iGl

[2020-04-21 14:23] D0miH commented on #153
Thanks for the bug report. I will look into it as soon as possible and release a hot-fix since this a serious flaw in the app.

[2020-04-21 14:25] D0miH commented on #85
This helps indeed, since now I have an idea what might cause the issue. Thanks! :)

[2020-04-21 16:16] D0miH opened #154 "Update interval does not change"
**Describe the bug🐛**
When a different update interval is selected in the settings, this has no effect on the actual update interval.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to preferences
2. Change the update interval
3. The update interval does not change

**Expected behavior**
The update interval should change.

**Desktop (please complete the following information):**

- MacOS

[2020-04-21 16:37] D0miH commented on #139
Because re-write in #147 introduced breaking changes and caused the app to crash after some time the breaking changes were reverted in #156. Therefore, this issue has to be re-opened.

Another solution to get the correct network interface would be to use the same approach as menu meters: https://github.com/yujitach/MenuMeters/blob/master/MenuExtras/MenuMeterNet/MenuMeterNetConfig.m

[2020-04-21 17:09] #153 closed

[2020-04-21 17:09] #154 closed

[2020-04-21 17:15] D0miH opened #158 "Create a build script"
**Is your feature request related to a problem? Please describe.**
Everytime a new version is released the same steps have to be reproduced:
- bump the version of the app in xcode
- archive the app
- notarize the app
- re-generate appcast
- fix the wrong download urls in the appcast
- add the link to the release.html file for each version in the appcast

**Describe the solution you'd like**
It wou

[2020-04-21 21:37] GingkathFox commented on #148
[io.github.iglance.iGlance 2020-04-21--21-34-50-890.txt](https://github.com/iglance/iGlance/files/4512729/io.github.iglance.iGlance.2020-04-21--21-34-50-890.txt)

[2020-04-23 07:50] ChillarAnand commented on #148
@D0miH This seems to be happening on 2.0.6.

[2020-04-24 13:34] ChillarAnand opened #160 "Random crashes after mac sleeps"
**Describe the bug🐛**

When mac goes to sleep for some time and starts again, iGlance is crashing.

**To Reproduce**

This is happening erratically.

**Desktop (please complete the following information):**

- MacOS Version:  10.14.6
- Version of the app: 2.0.7

**Log**

Advanced logging was disabled when the crash happened. Will attach logs when next crash happens.

[2020-04-24 13:43] D0miH commented on #160
Thanks for reporting. I might have an idea what caused this. Will look into this asap.

[2020-04-24 16:41] revonoc opened #161 "no autoupdate 2.0.6->2.0.7?"
**Describe the bug🐛**
I haven't been getting any update prompts or autoupdates to your hotfix! Happy to manual update but thought you should know since I assume a lot of people are still on 2.0.6 if this is widespread

**To Reproduce**
doesn't update, I open window, no prompts, etc

**Expected behavior**
autoupdate

**Screenshots (Optional)**

**Desktop (please complete the following information):

[2020-04-24 17:19] D0miH commented on #160
just to make sure, could you provide the crash report? You should find the crash report using the `Console.app` app or under `~/Library/Logs/DiagnosticReports`.

[2020-04-24 17:20] D0miH commented on #161
Thanks for reporting it. Since I update my app manually to check if it is working after releasing a new version I didn't knew this.
I will check this out and see where the problem is.

[2020-04-24 17:33] ChillarAnand commented on #160
Attached all 10 crashes. The last crash is related to this bug.

[ig.zip](https://github.com/iglance/iGlance/files/4530494/ig.zip)

[2020-04-24 17:35] ChillarAnand commented on #160
Attached all 10 crashes. The last crash is related to this bug.

[ig.zip](https://github.com/iglance/iGlance/files/4530506/ig.zip)

[2020-04-24 18:16] D0miH commented on #160
thanks👍🏼

should (hopefully) be fixed with the next update

[2020-04-25 06:31] ChillarAnand commented on #160
Also, network speed sticks to 0 kbps at times.

I started a download and the speed is stuck at 0kbps forever but other tools are able to capture network speed.

<img width="381" alt="ig" src="https://user-images.githubusercontent.com/4463796/80273026-70bc1680-86ec-11ea-95f7-521f1604f566.png">

[2020-04-25 08:01] D0miH commented on #160
Yeah this is a known issue and is related to #139

[2020-04-25 08:17] D0miH opened #163 "Add linting GitHub action"
**Is your feature request related to a problem? Please describe.**
Move linting the code from the local development environment to a GitHub action that is run when pushed.

**Describe the solution you'd like**
Having linting as a GitHub action enforces the linting rules much stricter than having it in a local environment.

[2020-04-26 18:09] #160 closed

[2020-04-26 18:09] #85 closed

[2020-04-26 18:20] #161 closed

[2020-04-26 18:20] #121 closed

[2020-04-26 18:20] #119 closed

[2020-04-27 17:30] #163 closed

[2020-04-28 18:27] Planktonette opened #172 "iGlance 2.0.8 crashes when clicking Disk menu option"
**Describe the bug🐛**
After allowing iglance to update, the settings reverted to default. Entering iglance and then clicking on the disk menu option on the left causes an instant app crash.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to show window
2. Click on disk

**Expected behavior**
App doesn't crash

**Desktop (please complete the following information):**

- MacOS Version: 10.

[2020-04-28 18:40] D0miH commented on #172
Hey @Planktonette,
thanks for reporting the issue. I was aware of the crash right after publishing the update and uploaded a fixed app bundle for version 2.0.8 a few minutes afterwards.
Please re-download the newest version of the app and check if the crash still occurs.

Sorry for the inconvenience!

[2020-04-29 08:11] ColtonIdle opened #173 "iGlance never actually updates. Always shows the same data"
**Describe the bug🐛**
I recently installed iGlance and found it weird that after a few days my amount of memory shown stays the same. I looked at activity monitor and it's showing completely different results.

**To Reproduce**
None. Just using it as expected

**Expected behavior**
Updates

**Desktop (please complete the following information):**

- MacOS Version: 10.14.6 (18G4032)
- Version of th

[2020-04-29 08:16] ColtonIdle commented on #173
Just noticed that there were 3 updates in the past few days. Updating now and will try again.

[2020-04-29 08:16] #173 closed

[2020-04-29 08:17] D0miH commented on #173
Hey @ColtonIdle,

nevertheless, thanks for reaching out to us and reporting issues :)

[2020-04-29 09:00] ColtonIdle opened #174 "Memory numbers don't make sense?"
I'm attaching 3 images.

The first shows the iglance dropdown and the "error". These numbers don't make sense to me?

The second is activity monitor and the third is iglance again but from the iglance window.

<img width="232" alt="Screen Shot 2020-04-29 at 4 56 55 AM" src="https://user-images.githubusercontent.com/31751141/80578148-106ff200-89d6-11ea-89ad-f1c2f756d4bb.png">

<img width="375" alt=

[2020-04-29 16:36] D0miH commented on #174
Hey @ColtonIdle,

ok so I investigated the issue and it seems that the "App Memory" is calculated differently than just summing up the active, compressed and wired memory. This is why iGlance is apparently not displaying numbers that are in sync with the activity monitor.

I will include the "App Memory" in the next update. In addition to that the "free" memory is then calculated accordingly to ac

[2020-04-29 18:51] ColtonIdle commented on #174
Yeah. My main use case of using iglance is to be able to see when I'm getting close to full memory usage. because macOS seems to start putting items into swap once you start to get full, and this is a crappy situation because once swap is used my computers slows down like crazy. Nothing will fix it until a restart.

So yeah, because able to tell "You're 85% full! macOS will start swapping in the n

[2020-04-30 08:02] D0miH commented on #174
I see. With the next update the free memory should be computed correctly.

As a side note we also could implement some kind of notification if the memory exceeds a threshold which was chosen by the user.

[2020-05-02 14:36] #172 closed

[2020-05-06 07:09] gary-lgy opened #175 ""Show disk space usage" is always ticked after navigating to the "Disk" view"
**Describe the bug🐛**
"Show disk space usage" is always ticked after navigating to the "Disk" view (even the menu bar item is not shown).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Disk'.
2. Uncheck the 'Show disk space usage' checkbox.
3. Go to another view
4. Go back to the 'Disk' view, the checkbox is checked again.

**Expected behavior**
In step 4 above, the checkbox should

[2020-05-06 09:05] ChillarAnand commented on #148
This is happening in the 2.0.8 version also.

[2020-05-07 08:06] D0miH commented on #148
Hey @ChillarAnand,
thanks for the info. I haven't looked at it yet. Will look into the issue asap.

[2020-05-10 17:31] rlyttle opened #177 "Possible memory leak"
**Describe the bug🐛**
Memory utilisation seems extremely high (1GB+) as seen from Mac Activity Monitor. Restarting iglance caused it to reduce to 18MB, constantly increasing

**To Reproduce**
None - running in system background, uptime 5 days

**Expected behavior**
Probably shouldn't be so high :)

**Screenshots (Optional)**
![image](https://user-images.githubusercontent.com/19949843/81506050-b7fc

[2020-05-11 07:38] D0miH commented on #177
Hi @rlyttle,

thanks for reporting the bug. iGlance shouldn't hog this much memory.
However, increasing memory usage is intended since we are caching the bar graph images that are drawn in the menu bar in order to not having to redraw them every time. My assumption is that something went wrong in the caching process.

Did you switch the macOS theme from dark to light or the other way around? This

[2020-05-11 08:54] rlyttle commented on #177
Settings file:
[settings.json.txt](https://github.com/iglance/iGlance/files/4608540/settings.json.txt)

I'm using the dark mac OS theme, not sure if I switched before or after installation. Let me know if there's anything else you need!

[2020-05-12 07:26] D0miH opened #178 "Battery notifications are dismissed to fast"
**Describe the bug🐛**
When a battery notification is send the notification is only displayed for the duration of the update interval. Instead the notification should be visible for at least 3 seconds.

**To Reproduce**
Steps to reproduce the behavior:

1. Set update interval to 1 second
2. Charge or drain battery to get battery notification
3. Observe that notification is only very briefly visible

[2020-05-12 18:42] vinayns opened #179 "iGlance wont open (automatically on boot or manually by clicking it)"
Hello,
I am having an issue with iGlance not working on my laptop (hackintosh).
It was working for almost a month or two until around 3 weeks ago.
I assumed initially it was a bug which is not auto opening upon boot.
But when I try to run it through launchpad, nothing happens.
I tried going to the applications folder and opening it by right clicking but nothing.
I tried it on Mojave 10.14.3 and 10

[2020-05-13 07:18] D0miH commented on #179
Hi @vinayns,

because at launch the app tries to read the System Management Controller (SMC) and other system related info I suppose that something is not working properly on a hackintosh.

You can find logs of the app itself in the folder `~/Library/Logs/iGlance` and logs for automatically launching the app on start in the folder `~/Library/Logs/iGlanceLauncher`. It might be the case that the bug

[2020-05-13 09:04] vinayns commented on #179
Hi @D0miH
please find attached the two log files I could find through the Console app..
Hope this helps.. viel glück :)

[io.github.iglance.iGlance 2020-05-11--16-35-19-436.log](https://github.com/iglance/iGlance/files/4620834/io.github.iglance.iGlance.2020-05-11--16-35-19-436.log)
[io.github.iglance.iGlance 2020-05-12--17-32-40-178.log](https://github.com/iglance/iGlance/files/4620835/io.github.i

[2020-05-13 11:11] D0miH commented on #179
Thanks👍🏼. I suppose you took those files from the Console.app under `Log Reports`?
There was no crash report in the Console.app under `Crash Reports`?

[2020-05-14 13:04] rrodrigues commented on #177
Hi,
I also have noticed this.
I have restarted the app and didn't change anything since and the memory is increasing.

[settings.json.txt](https://github.com/iglance/iGlance/files/4628509/settings.json.txt)

[2020-05-14 15:16] vinayns commented on #179
Yep, these were in the 'Log Reports'..
I've dug out some crash reports, but they were in the 'User Reports' section..
I couldn't find a 'Crash Report' folder..

Please find the attached ZIP of same..

[iGlance Crash Report.zip](https://github.com/iglance/iGlance/files/4629293/iGlance.Crash.Report.zip)

[2020-05-14 17:45] D0miH commented on #177
Ok, I found the issue.
Something went wrong while caching the images of the memory bar graph.

Thanks for your help guys!👍🏼

[2020-05-15 18:07] D0miH opened #182 "Add general notifications using rules"
**Is your feature request related to a problem? Please describe.**
In some cases it is useful to get notified if iGlance detects certain behaviour of the machine for several seconds. For example if the cpu utilisation is at 100% for 10 seconds or the memory utilisation is above 80% for 10 seconds.

**Describe the solution you'd like**
The solution would be to add a new item to the sidebar called "

[2020-05-15 18:07] D0miH commented on #174
Ok this should be fixed with the next update.

I create a new [issue](#182) for the idea with the memory notifications. But I think it will take some time until this feature will be included in the app.

[2020-05-23 06:55] ibead opened #183 "Invisible/transparent icons in menu bar"
The iGlance topbar icons only appear on either my MBP screen, or on my external monitor after restarting my system. On the screen where they do not appear, the cpu and memory level meters are visible without framework.

Install iGlance
Make sure it restarts automatically after rebooting
Reboot your system with an external monitor connected

The iGlance icons / information in the topbar should be v

[2020-05-23 15:40] ibead commented on #183
Edit: monitor is disconnected, and still the topbar icons are not visible except for the level meters. It is possible to click on the invisible icons and get the dropdown with options.

[2020-05-23 17:15] D0miH commented on #183
Hi @ibead,
thanks for reporting this issue. I will try to reproduce the bug and get back to you soon :)

[2020-05-25 16:36] D0miH commented on #183
So I tried to reproduce the issue using the following steps:
1. Activate "Autostart on Boot"
2. Shut down the Macbook
3. Attach external display
4. Start Macbook

But I am not able to reproduce the bug on my system. All menu bar icons are visible on the internal monitor of the Macbook as well as on the external monitor.

To further investigate the issue could you provide your logs? To do this plea

[2020-05-25 17:25] D0miH commented on #179
Ok @vinayns,
I think I found the bug that caused this issue. Apparently on a hackintosh iGlance is not able to read information about the battery.
Therefore, I implemented a bug fix that should also fix #96.

The fix will be probably published in the next few days. :)

[2020-05-28 21:07] ibead commented on #183
Thanks for looking into it. After another restart, the icons are visible again. Perhaps it has to do with the appearance settings which I changed in the general settings. Will try to reproduce the bug again and log as suggested.

[2020-05-29 07:44] D0miH commented on #183
Glad to hear that the issue was resolved!

Closing this. If the issue reappears feel free to re-open the issue.

[2020-05-31 15:24] D0miH commented on #96
closed by #184

[2020-05-31 15:24] #96 closed

[2020-06-09 05:58] ooopscc opened #187 "Hang when opening app"
**Describe the bug🐛**
can not open, it hangs.
No Dock icon bounces.
After a few seconds (maybe 10), it show on menubar, window show too, but just hangs, data not update.  Colorful cursor spinning.
No any permissions request.

**To Reproduce**
just open it on my macOS.

**Expected behavior**
Open and update data in menu bar

**Screenshots (Optional)**

**Desktop (please complete the following infor

[2020-06-09 07:37] D0miH commented on #187
Hey @ooopscc,
I cannot reproduce this bug.
Could you try to launch the app with wifi disabled? Sometimes the app behaves strange when the wifi connection is slow.

You can find the log files under '~/Library/Logs/iGlance'. If there are any log files you can upload them here. This would help me to investigate the issue further.

[2020-06-09 20:31] lemming622 opened #188 "Multiple fan reading"
Is it possible to get multiple fan reading displayed?  I would figure these to be stacked like the network usage is done.

Right now on my MacBook Pro only one fan is being displayed but when clicking on the fan RPM's I get a listing for Fan 1 and Fan 2.

<img width="219" alt="Screen Shot 2020-06-09 at 3 28 24 PM" src="https://user-images.githubusercontent.com/20564645/84196743-42a95080-aa66-11ea-

[2020-06-10 09:21] D0miH commented on #188
Hey @lemming622,
thanks for your suggestion. I think stacking the fan readings would be not so good since there may exist machines that have more than 2 fans (e.g. Mac Pro). However, in my opinion this is a good idea. We could just make the fan button wider and render additional numbers on the same button.
One thing we would have to figure out is how the user should be able to select the fans whic

[2020-06-11 03:15] ooopscc commented on #187
Confirmed. It works when Wi-Fi disabled. That's weird.

[2020-06-11 09:30] D0miH commented on #187
Glad the issue was resolved. I am not quite sure why this happens and I don't know how to investigate this issue.
One possibility is that somehow Sparkle is causing this issue while trying to check for a new version. But I am not sure about this theory.
If anyone has some further info why this could be happening feel free to share here.

[2020-06-11 15:05] clintonblackmore opened #189 "iGlance crashes when you try to look at Disk Window"
**Describe the bug🐛**
When you bring up the iGlance window and click on "Disk" it crashes.

**To Reproduce**
Steps to reproduce the behaviour:

1. Start iGlance.
2. Click on one of the widgets and choose "Show Window"
3. These are different areas to set settings for, such as "Dashboard", "CPU", "Memory", etc.
4. Note that you can click on most of these without issue.
5. When you click on "Disk", t

[2020-06-12 23:07] lemming622 opened #190 "update contribution page"
I am having problems starting to clone the iGlance repository.  Would someone be able to update the contribution steps to include the git clone command:<br>`git clone --recurse-submodules <your-git-repo-here>`<br>?
It took me a moment to find out why the pod command wasn't working and it was due to the submodules not being cloned as well.
After solving that issue I am now running into an issue wit

[2020-06-14 12:28] D0miH commented on #190
Hey @lemming622,
thanks for reaching out. What did you use to clone the main iGlance repository? Did you clone the repository through SSH or through HTTPS?

[2020-06-14 12:47] Moneypulation commented on #190
Can confirm the recursive submodule problem. I ran into it as well when I initially cloned iGlance without the --recursive flag. Therefore, we should mention to use it in to guideline imo.

I assume the access right problem is due to the fact that your ssh key isn't configured correctly. But you can also clone the repo through https

[2020-06-14 12:52] D0miH commented on #190
The problem here is that the submodules urls in the main repo are configured to be ssh. Therefore, if you clone the main repo using HTTPS because you don't want to authenticate to GitHub you will get problems when trying to clone the submodules.

Therefore, best option to circumvent all those problems is probably to just upload a ssh key to GitHub  and clone the repository using
[code]
This should

[2020-06-14 13:08] D0miH commented on #190
@lemming622 One additional step you have to take is that you have to install [Carthage](https://github.com/Carthage/Carthage), switch into the `<repo-root>/iGlance/iGlance` directory and execute the command `carthage update`. This is because I added a library that was only available through carthage.

If you have any additional difficulties during the setup feel free to ask here. I will update a s

[2020-06-14 18:17] lemming622 commented on #190
@D0miH, I was using the HTTPS cloning.  I have uploaded an ssh key so I could do a clone using ssh.  Which did work.  Thank you for helping debug that.

Now the next spot that I'm having issues with is the Carthage update.  Here are my commands and outputs.  I'm not familiar with Carthage so I don't know how to fix this one.<br>
[code]

[2020-06-15 08:04] D0miH commented on #190
Iirc there is no `Cartfile` in the directory where you run the `carthage update` command.
This can have two reasons:
1. Either you are on the master branch which is behind the development branch and therefore has no Cartfile (yet).
2. Or you are in the wrong directory and have to switch into the correct one. The `Cartfile` is in the same directory as the `iGlance.xcodeproj` file (note that it is t

[2020-06-15 12:59] lemming622 commented on #190
@D0miH, thank you again for the debugging help on this.  Yes I had checked out the master vs the development branch.  I have since changed branches.  The next issue I had was with Carthage running `carthage update`.  I found the solution to it.  Turns out there is an issue with XCode if you have not enabled command line processing.  <br>Here is a link describing [the issue and solution](https://st

[2020-06-17 17:13] D0miH commented on #189
Hey @clintonblackmore,
thanks for reporting the issue. Unfortunately I can't reproduce the bug on my machine. Are you sure that the latest version is installed? This issue was present once in version  2.0.8 but was quickly fixed within an hour. The app download was changed to include a fixed version of the app. However the hot-fix was still published under version 2.0.8.
So please try to re-downlo

[2020-06-17 17:13] #190 closed

[2020-06-17 17:16] D0miH commented on #190
Thanks for helping us out here👍🏼
Hope the updated and more detailed [Contribution Guide](https://github.com/iglance/iGlance/blob/master/.github/CONTRIBUTING.md) is more helpful in setting up the project.

[2020-06-17 17:34] clintonblackmore commented on #189
Hey, that fixed it.

Thank you.

[2020-06-17 17:34] #189 closed

[2020-06-20 17:08] bailarin2020 opened #192 "The Show disk space usage tick reappears by itself"
**Describe the bug🐛**
When you **Untick**  [DISK: Show disk space usage] this action is done alright and the graphic disappears as wished. However, the 'tick' gets back without user intervention (however the monitor is not actually showed, unless you untick & tick it yourself).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'DISK: Show disk space usage'
2. Untick the box
3. Pick any

[2020-06-20 17:52] bailarin2020 opened #193 "Right pane changes background color"
**Describe the bug🐛**
At the very start, the right pane's background is dark night, but it changes to light gray some time later

**To Reproduce**
I cannot find a way to reproduce it... it just happen and keep that way even if I restart the app

**Expected behavior**
It should stay dark night...won't it?

**Screenshots (Optional)**
<img width="797" alt="Screen Shot 2020-06-20 at 12 43 51 PM" src="

[2020-06-20 18:01] bailarin2020 opened #194 "Battery symbol [OR instead of AND] percentage"
**Is your feature request related to a problem? Please describe.**
It is redundant to have them both at the same time using up the precious menubar space

**Describe the solution you'd like**
To have the option to choose which one to have displayed (or both, you wish)

**Describe alternatives you've considered**
It is up to the dev

**Additional context**
Just to have the option to declutter the m

[2020-06-21 00:44] bailarin2020 commented on #178
Banners are supposed to go away automatically after a while (4 secs now?)
BUT, 'Alerts' are supposed to stay on screen until dismissed, however they are too goin' away after a few secs not waiting for a clicked "close"

[2020-06-21 08:46] D0miH commented on #194
Hey @bailarin2020,
this is indeed redundant. Imo this is a good idea to let the user choose which combination he wants.

[2020-06-21 08:49] D0miH commented on #193
Hey @bailarin2020,
since the right pane is translucent it changes the color depending on what is placed behind the iGlance window. Does this explain the shift in colors?

[2020-06-21 08:52] D0miH commented on #192
Hey @bailarin2020,
thanks for reporting the issue. There is already an issue on this matter which was accidentally closed (#175). A fix is going to be published with the next update.

[2020-06-21 08:52] #192 closed

[2020-06-21 15:30] bailarin2020 commented on #193
Hi D0miH,
Yes, it does!

I just wonder...is that behavior in line with the statement "App adjusts to light & dark mode"
My Mac is set to Dark Mode and the rest of app stay dark no matter what you have in the back.
Anyway, this issue is set and closed (I guess)

Thanks for your effort, and for giving this fabulous app to the world !

[2020-06-21 15:30] #193 closed

[2020-06-21 15:41] D0miH commented on #193
The statement "App adjusts to light & dark mode" means that if you use osx dark mode you get this color scheme:
<img width="400" alt="Screenshot 2020-06-21 at 17 40 14" src="https://user-images.githubusercontent.com/36657497/85228843-45049680-b3e6-11ea-9891-99b782c174e0.png">

When you use osx light mode on the other hand you get this color scheme:
<img width="400" alt="Screenshot 2020-06-21 at 17

[2020-06-21 15:42] bailarin2020 commented on #194
Hi D0miH,
It would be great!
Looking forward for this update.
(So, I'm not closing this issue yet...right?)

Thanks.

[2020-06-21 15:43] D0miH commented on #194
Correct. The issue will be closed when the feature is implemented and published :)
However I am not sure when this feature will be released.

[2020-06-23 14:24] edwardbattistini opened #195 "OSX Big Sur app redesign"
Hi,

I've just downloaded your software. Really cool alternative to all the paid versions. As I did not pay for your software, I made a few options for an OSX icon style. Let me know what you think.

[OSX icon.zip](https://github.com/iglance/iGlance/files/4819978/OSX.icon.zip)

If you want some support at some point for those little UI bits feel free to get in touch

[2020-06-24 17:15] edwardbattistini commented on #195
@D0miH @Moneypulation I know its a little bit odd to get contributions like that but what do you think? about the icons? Not interested? let me know

[2020-06-24 17:27] D0miH commented on #195
Hey @edwardbattistini,
sry for the late reply, I was very busy. At first glance those icons look pretty good.
I will take a closer look at it over the weekend.
Since I'm not really good at graphics programs like Affinity, your help is definitely very welcome 👍🏼😊

[2020-06-24 23:47] Moneypulation commented on #195
Absolutely not! We are happy to receive any contribution and welcome people to participate in the design and development of this app, not just the code. Like @D0miH, I also didn't have much time to look into it yet.

From a pure visual look, you icons look really good and definitely better than iGlance's current icon. Though I have to say, that I'm missing a recognition factor in your icons. I kin

[2020-06-26 08:08] D0miH commented on #195
So after looking at the icons I have to say they look very nice when applied to the app!
<img width="178" alt="Screenshot 2020-06-26 at 10 00 45" src="https://user-images.githubusercontent.com/36657497/85834601-f7947a80-b793-11ea-946f-52db9334d91d.png">

My favourite one is the first one where there is no separation between the glare and the cogwheel because it looks very minimalistic. Since it is

[2020-06-29 08:22] D0miH opened #196 "Add bug button to the sidebar"
**Is your feature request related to a problem? Please describe.**
When encountering a bug it is a bit tedious to open github, navigate to the iGlance repository and open a new bug issue. Not everyone is going to jump through those hoops in order to report a bug.

**Describe the solution you'd like**
It should be possible to click a button in the main window and be directly redirected to the githu

[2020-06-29 10:11] #179 closed

[2020-06-29 10:12] #177 closed

[2020-06-29 23:42] bailarin2020 opened #202 "Make "low / high Battery Notification" even more useful."
**Is your feature request related to a problem? Please describe.**

I don't want to be rude or ungrateful, but I am frustrated with the way the issue "Battery notifications are dismissed too fast   #178" was solved (I am not its issuer).

Taken from Mac's System Preferences / Notifications:
_"Banners appear in the upper-right corner and go away automatically. Alerts stay on screen until dismissed.

[2020-06-30 07:48] edwardbattistini commented on #195
oh! i did not get a notification for you answers! I'm glad @D0miH likes it! @Moneypulation I see your point around the iG there is something about the iG that is recognizable, and you know I could play around with it a bit more when I have a sec.

The reasoning behind the Eye and the Cog was very literal: iGlance allows me to SEE the stats about how my machine works THE COG and because its kind of

[2020-06-30 07:49] edwardbattistini commented on #195
Also, we probably need to explore the new Big Sur style for the icons

[2020-06-30 09:12] D0miH commented on #195
Yeah, definitely! Everything is rounder in Big Sur.

I see. I like the idea👍🏼

I originally worked in affinity because it was the file format of the project but I think moving to figma will help a lot to make faster iterations. I'll see what I can do in the next few days

Thank you very much! This is why I open sourced the project such that everyone can enjoy the app for free as well as everyone c

[2020-06-30 09:21] D0miH opened #203 "Minimized window is not shown in dock"
**Describe the bug🐛**
When the iGlance window is minimized, the app icon is not shown in the dock.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the iGlance window
2. Minimize the window
3. Try to find the app icon in the dock

**Expected behavior**
When minimized the app icon should be shown in the dock in order to activate the window again.

**Desktop (please complete the following

[2020-06-30 09:25] D0miH commented on #202
Hey @bailarin2020,
thanks for your feedback. #178 was focusing on a bug that would cause the notification to be only visible for 1 second. Now the notification is always visible for 4 seconds. Therefore, only Banners are implemented at the time.

But I like the idea to be able to choose the notification style. Maybe we can include this in #182

[2020-06-30 14:45] bailarin2020 commented on #202
Hi D0miH,
Yeah, I guess that
Then it lead me to ask you for this.
Thanks!

[2020-07-03 15:23] ollegz commented on #183
I seem to have the same problem and its consistently "disappearing" icons. I think its something with that I use Auto for appearance in general system settings as when I set it to Light/Dark they reappear.

[2020-07-03 16:10] D0miH commented on #183
Are the items are in the wrong appearance (light/dark) or are they not visible at all?

[2020-07-03 17:11] ollegz commented on #183
Transparent, when I click them I can see them. Which might mean wrong appearance yes :D

[2020-07-03 17:13] D0miH commented on #183
Ok, this should be fixable ;)
As you suggested I think this has something to do with the fact that the app does not recognize which os theme is currently active. I will look into it.

[2020-07-03 17:42] D0miH opened #207 "To much space between menu bar items on Big Sur"
**Is your feature request related to a problem? Please describe.**
On the new macOS version Big Sur the menu bar items are bigger. Therefore, there is way to much space between the items (see screenshot).

**Describe the solution you'd like**
The best solution would be to combine the menu bar items of each component (CPU, Memory etc.) to one menu bar item. This works best when #102 is implemented

[2020-07-03 18:09] Moneypulation commented on #207
What happens to the little views that open when a menu bar item is clicked with your provided solution? Would you just discard them? Displaying one big view with all the information wouldn't probably look good.

[2020-07-08 07:57] edwardbattistini commented on #195
Here is a Figma link with the icons. I'm planning to have the whole UI added in too. So I can suggest maybe some icons and UI tweaks.

https://www.figma.com/file/mY3HMmzx8mc61EGFTbHdza/iGlance?node-id=0%3A1

[2020-07-08 08:23] D0miH commented on #195
Wow the two new icons look so awesome! I really like the idea with the little inscription on the cogwheel.👍🏼😁
Really looking forward for your UI design changes :)

[2020-07-08 17:04] edwardbattistini commented on #195
Had a play with the UI I've redone all the tab icons ready to go if you like them!

![Preview](https://user-images.githubusercontent.com/6288298/86948707-7222aa00-c145-11ea-86f3-7ee506350f61.jpg)

[2020-07-08 17:19] D0miH commented on #195
WOW🤩 THIS LOOKS AWSOME!
Fits really well to the overall Big Sur look. You even redesigned the menu bar icons. Looks really great!

I think with the new design we could even remove the name of the app from the main window. This would allow us to have more space for the content. What do you think?

I know that at the moment there is way to much free space on the "Dashboard". My idea was that with fu

[2020-07-08 17:35] Moneypulation commented on #195
Wow, both the logo and the redesigned menu bar icons look really awesome. Thanks for your time and effort! Regarding @D0miH's earlier point about the "iG" string, he has point that it's not usual for macOS apps to have a logo like that. In addition, I really like your new version of the cogwheel logo. It looks really sharp and has a nice touch with the inscription

[2020-07-08 17:37] edwardbattistini commented on #195
I use to love istat Menu, I am big fan of the [founder!](https://twitter.com/marcedwards) He's kind of pixel nerd 😄
I wish I could pull the same UI he does!

It's really up to you. I feel like iStat needs to justify the price. From my perspective I don't know enough about the target audience of those tools. I like those tools because they give me that that sense of control of my laptop, but at the

[2020-07-08 17:42] edwardbattistini commented on #195
Are you guys considering rebuilding the UI with SwiftUI? I've been checking[ this guy on twitter,](https://twitter.com/jsngr) he's making magic with it and the layout is so easy to build. I'm really beginner in Swift so don't know what it would take but the Mocks the guy builds are madd

[2020-07-09 08:00] D0miH commented on #195
Last time I looked at SwiftUI it was still pretty rudimentary. But I suppose this has changed now seeing all the cool designs [Jordan Singer](https://twitter.com/jsngr) is creating. I will definitely have a look at SwiftUI and see if it can be used to realize the drag and drop thin I want to integrate into the app.

[2020-07-09 10:54] rpensek opened #210 "Add GPU usage history"
**Is your feature request related to a problem? Please describe.**
Although RAM and CPU usage is very low my MBP still gets very loud now and then. I need to open Activity monitor and check GPU history (under `Window` menu item) and kill rogue Chrome tab or App that uses too much of it. Having a dedicated GPU usage widget (for each or combined graphic cards) would be awesome!

**Describe the solut

[2020-07-09 12:49] D0miH commented on #210
Hey @rpensek,
this is definitely a feature I would love to integrate. However, at the moment I am not sure how we could read the GPU processor usage either for the integratel intel or the dedicated GPU. I think I will have to research a bit how we could read those values.

[2020-07-15 13:56] shrinidhi111 opened #211 "Add an option to view RAM as percentage"
It'll be very easy and convenient if I know how much RAM is left in terms of raw number or percentage instead of the current line/bar graph

[2020-07-15 14:22] edwardbattistini commented on #195
Just in case you guys had not seen this. Also let me know if you need the icons in a specific format

![Light-Preview-2](https://user-images.githubusercontent.com/6288298/87556732-e6fa6480-c6ae-11ea-9279-ad94fcdb304a.jpg)

![Light-Preview-1](https://user-images.githubusercontent.com/6288298/87556730-e5c93780-c6ae-11ea-9474-e9234ed45d3b.jpg)

![Dark-Preview-2](https://user-images.githubusercontent.

[2020-07-15 14:36] D0miH commented on #195
Looks sick!
I guess the format of the sidebar icons can be pdf. This way we can preserve the vector data.
The file format of the menu bar icons should be png. I guess the icons should have the same height as before (18 pixels high).
In what program did you create the icons? Also in Figma?

Regarding your previous question @edwardbattistini:

I looked into it and it seems like SwiftUI needs macOS 1

[2020-07-15 15:02] edwardbattistini commented on #195
Here you go.

[iGlance - Sidebar icons.zip](https://github.com/iglance/iGlance/files/4926042/iGlance.-.Sidebar.icons.zip)
[iGlance - Menubar icons.zip](https://github.com/iglance/iGlance/files/4926041/iGlance.-.Menubar.icons.zip)

[2020-07-16 14:52] D0miH commented on #195
Great! Thank you very much!
I will start to look into how to realise your design in code :)

[2020-07-17 12:56] edwardbattistini commented on #195
let me know if I can help

[2020-07-17 12:59] edwardbattistini opened #212 "Future iGlance landing page"
What do you guys think about making one?
I'm thinking single page application with a netlify pipeline to publish to GitHub?
I can do all of that if you guys want?

[2020-07-17 13:08] D0miH commented on #212
Wow, you are amazing! I really appreciate your enthusiasm to help us with the project!
That would be very cool. The idea was that we will use GitHub Pages to host the site. But if I see correctly netlify is also free for individuals. In my opinion the website should be also open source here on GitHub such that we have all at one place.
This is the repo for the github pages site (this is also where

[2020-07-19 13:16] edwardbattistini commented on #212
Awesome will fork and start to play

[2020-07-19 13:20] D0miH commented on #212
Do you know what tech stack you will use?

[2020-07-19 18:49] edwardbattistini commented on #212
oops... did not see that. So I've recycle a Jekyll project and cleaned it all up.
The release notes is now a markdown file.

https://github.com/edwardbattistini/iglance.github.io

Let me know if you are ok with that. otherwise I have a quick plain html with Bulma 0.9 on it

[2020-07-19 19:40] edwardbattistini commented on #212
Here is a preview branch https://sad-ride-62f38a.netlify.app

[2020-07-20 02:47] ChillarAnand commented on #179
Is this issue fixed on 2.0.9? Autostart on boot is not working for me on 2.0.9.

[2020-07-20 09:23] D0miH commented on #179
I thought so that autostart on boot was fixed.
@ChillarAnand But the app is opening when you double click it right? Because @vinayns had the problem that the app wouldn't start even when he tried to manually open it.

[2020-07-20 09:33] D0miH commented on #212
Looks great so far!👍🏼

Thats great. I think a static site generate is simple and good to maintain the website without too much of a hassle.

[2020-07-20 10:40] ChillarAnand commented on #179
On double click it is working. @D0miH

I have been restarting Mac multiple times lately and starting iGlance manually every time is bit tedious.

[2020-07-20 12:06] D0miH commented on #179
Hmm this is very strange. I just tested it on my mac (Macbook pro 2018) and on another mac (Macbook pro 2019) and on both it worked. For version 2.0.9 I switched to an external library that handles the autostart on boot that is used by many other apps. So I really have no idea why it is not working.
I suppose it has something to do with your machine. You could try the following.
- disable "Autosta

[2020-07-20 12:25] ChillarAnand commented on #179
I think the issue was happening due to multiple plist files.

[code]

After cleaning up the files and reinstalling, there is only 1 plist file and it seems to be working fine.

[code]

Thanks for the suggestions. @D0miH

[2020-07-20 12:26] D0miH commented on #179
Nice! Happy to hear that you resolved the issue :)

[2020-07-20 12:28] ChillarAnand commented on #179
Any idea why `io.iglance.iglance.plist` file got created? Just wondering how the problem began.

[2020-07-20 12:51] D0miH commented on #179
When version 2.0 was released we changed the app bundle identifier. I didn't expect the old .plist file to interfere with the new version of the app. Sorry for the inconvenience.

[2020-07-27 14:55] GingkathFox opened #213 "iGlance uses a massive chunk of ram"
**Describe the bug🐛**
iGlance uses a massive chunk of ram, it seems to increase based on the uptime

![Screen Shot 2020-07-27 at 10 52 32 AM](https://user-images.githubusercontent.com/33764485/88556824-72e98600-cff7-11ea-842c-6f5068a3f639.png)

**To Reproduce**
Steps to reproduce the behavior:

1. open iGlance
2. dont shut down your mac for a while (maybe a week)
3. view usage in Activity Monitor

[2020-07-27 14:59] D0miH commented on #213
Hey @GingkathFox,
I think you are still on an old version of the app since this issue was already reported in #177.
Please try to manually update by opening the iGlance window and clicking on `iGlance > Check for Updates` in the menu bar.

[2020-07-27 15:18] GingkathFox commented on #213
aw dammit homebrew, youre supposed to update for me D:

will close now, if it happens again ill reopen

[2020-07-27 15:18] #213 closed

[2020-07-29 23:35] hesyifei opened #214 "Network speed not having enough space when > 10.00 MB/s"
**Describe the bug🐛**
When the network speed is faster than 10.00 MB/s, the number touches the upload/download symbols on the left.

**To Reproduce**
Steps to reproduce the behavior:

1. When the network speed is greater than 10.00 MB/s, the number touches the symbol sometimes.

<img width="76" alt="bad 1: 38.45 MB/s" src="https://user-images.githubusercontent.com/4939421/88863806-45d6e680-d236-11

[2020-07-30 12:40] D0miH commented on #214
Hey @hesyifei,
thanks for your bug report. As you already mentioned I think this bug should be solved by changing two things:
1. use monospaced font for the numbers as well as the units
2. to save space in the menu bar the network speed item has a minimum width. If the current calculated width of the text is wider than that minimum width, the network item should be made wider. This way the network

[2020-09-09 04:18] jstudioo commented on #187
me too, on Mojave

[2020-10-01 09:12] Darktortue opened #217 "Interactive battery icon"
It would be great if the battery icon was interactive. By interactive I mean it gets empty if we don't have battery etc...
I use the percentage symbol which is something i like but an interactive icon would be really cool.

[2020-10-01 09:18] D0miH commented on #217
Hey,
do you mean the battery icon in the menu bar? In theory the battery icon should indicate the current charge of the battery (see picture).

<img width="50" alt="Screenshot 2020-10-01 at 11 17 53" src="https://user-images.githubusercontent.com/36657497/94791326-c1d8e080-03d7-11eb-881c-c9795c677051.png">

Is this not working on your machine?

[2020-10-01 09:22] Darktortue commented on #217
Hello, yes I'm talking about this.
For me the icon doesn't indicate the current charge of the battery. Must be a bug then...
<img width="55" alt="Capture d’écran 2020-10-01 à 11 20 58" src="https://user-images.githubusercontent.com/11302315/94791696-504d6200-03d8-11eb-86fe-f6cbe8fd9b32.png">

[2020-10-01 09:29] D0miH commented on #217
Oh, this is a bug indeed. Could you open a new issue and fill in the bug template? This would give a bit more info to investigate the issue.

[2020-10-01 09:34] Darktortue commented on #217
Actually i just restarted the app because I wanted to active advanced logging and then it worked correctly. Do you still want the logs ? Because I'm not sure I can reproduce it

[2020-10-01 10:19] D0miH commented on #217
Great to hear that. No, if the issue is resolved I don't think the logs will be useful. Hopefully it was just a one-time glitch.
If you want you can leave advanced logging activated and see if the issue reappears. Advanced logging will not influence the performance of the app or the system and there only the last 7 log files are kept. If the issue reappears you can export the log file by opening t

[2020-10-01 10:19] #217 closed

[2020-10-02 09:20] Darktortue opened #220 "Battery icon not showing the current charge of battery"
**Describe the bug🐛**
The battery icon is not showing the current charge of battery.

**To Reproduce**
Steps to reproduce the behavior:

1. Launch iGlance
2. Check the battery icon

**Expected behavior**
The battery icon should indicate the current charge of the battery

**Screenshots (Optional)**
<img width="48" alt="Capture d’écran 2020-10-02 à 11 15 53" src="https://user-images.githubuserconten

[2020-10-02 09:42] D0miH commented on #220
Hey,
thanks for reporting the bug. I will have a look at it.

[2020-10-04 17:38] #183 closed

[2020-10-05 14:25] D0miH commented on #187
I just noticed that this also happens for other apps. For me Microsoft Word is also not opening when having a really slow internet connection.
Nevertheless I will leave this issue open. Maybe others have additional information on how we could fix this.

[2020-10-05 17:28] #59 closed

[2020-10-05 17:28] #195 closed

[2020-10-05 17:28] #203 closed

[2020-10-05 17:28] #214 closed

[2020-10-05 19:32] Anders-E commented on #195
Just got this update and just wanted to say that this is some great work @edwardbattistini ! Loving the new look.

[2020-10-06 05:18] WatEvsCevs opened #225 "CPU Temp. Reading -1º on macOS Big Sur"
**Describe the bug🐛**
CPU Temp is reading -1º.

**To Reproduce**
Steps to reproduce the behaviour:

1. Open iGlance
2. Look at CPU Temp.

**Expected behaviour**
Reports the current temperature status of the CPU.

**Screenshots (Optional)**
<img width="36" alt="Screen Shot 2020-10-06 at 4 11 30 pm" src="https://user-images.githubusercontent.com/64068921/95161351-a9f5c800-07ee-11eb-8a1a-13733376b5cd

[2020-10-06 07:52] D0miH commented on #225
Hey @WatEvsCevs,
thanks for your bug report. This is very strange. Unfortunately I can't install the Big Sur beta on my machine at the moment.
Can others confirm this bug?

[2020-10-06 09:41] D0miH opened #226 "Update screenshots in Readme"
**Is your feature request related to a problem? Please describe.**
Screenshot of the app in the readme are displaying the old design.

[2020-10-06 11:47] edwardbattistini commented on #226
@D0miH do you have a screen grab of the new UI? I'm not too sure how to build it on my Mac

[2020-10-06 12:29] edwardbattistini commented on #226
I could not clone the repo for some reason... so I was not able to update the readme...
Anyway here are some new assets
[Detailed system info.pdf](https://github.com/iglance/iGlance/files/5333713/Detailed.system.info.pdf)
![Detailed system info](https://user-images.githubusercontent.com/6288298/95201300-a4d94e80-07d7-11eb-950f-0c11bc1ac2c3.png)
<img width="1024" alt="Detailed system info@2x" src="

[2020-10-06 12:34] D0miH commented on #226
This looks really nice! I really like the look of the logo. Matches the new design of the app perfectly 👍
Here are the screenshots of the new ui:
<img width="942" alt="Screenshot 2020-10-06 at 14 31 42" src="https://user-images.githubusercontent.com/36657497/95201913-defb1e00-07e0-11eb-8e13-09415d07a166.png">
<img width="942" alt="Screenshot 2020-10-06 at 14 32 17" src="https://user-images.githubu

[2020-10-06 12:36] D0miH commented on #226
I think that in the next few updates I will add the function to arrange the menu bar items using drag and drop and prettify the dashboard.

May I ask you where you get the image of the macbook pro? I was looking for such an asset but did not find one.

[2020-10-06 12:41] Moneypulation commented on #226
Looks really nice! Gonna make use of the images on the website I'm working on right now

[2020-10-06 13:01] edwardbattistini commented on #226
here you go @D0miH https://facebook.design/devices

[2020-10-06 13:05] edwardbattistini commented on #226
let me know @Moneypulation if you want any help 😉

[2020-10-06 13:05] D0miH commented on #226
Thanks a lot! My idea was that maybe we could show the sketch of the device on the new dashboard in addition to the system information.

[2020-10-06 13:06] edwardbattistini commented on #226
<img width="698" alt="Screenshot 2020-10-06 at 14 06 38" src="https://user-images.githubusercontent.com/6288298/95205353-28e20500-07dd-11eb-8770-95141bdb06c7.png">

Do you mean like in the MacOS info?

[2020-10-06 13:08] D0miH commented on #226
Exactly! Maybe we could even add different desktop backgrounds depending on the current MacOS version.

[2020-10-06 15:13] Moneypulation commented on #226
Will definitely do :) Appreciate the help!

[2020-10-06 15:43] edwardbattistini commented on #226
Nice details!

[2020-10-06 15:51] edwardbattistini opened #228 "Dark mode UI fixes"
**Describe the bug🐛**
- The titlebar is not switching to dark when using dark mode at OS level
- Settings button is not switching to light when using dark mode at OS level

**To Reproduce**
Steps to reproduce the behavior:

- Set dark mode on OSx
- Display iGlance

**Expected behavior**
- Title bar should be dark and title light
- Setting button should be light

**Screenshots (Optional)**
<img wid

[2020-10-06 15:55] edwardbattistini opened #229 "Menu bar icon issue?"
**Describe the bug🐛**
MacOS does not seem to switch the colour of elements who switching from light to dark. Not sure if it is an OS issue or App issue...

**To Reproduce**
- Launch the app
- make sure system icons are displayed
- Switch between Light and dark mode on MacOS

**Expected behavior**
In Light mode iGlance stats icons should be light
In dark mode iGlance stats icons should also be ligh

[2020-10-06 15:57] edwardbattistini commented on #228
A reboot of the app actually fixes the issue...

[2020-10-06 16:39] D0miH commented on #229
Oh this is new. I found [this](https://stackoverflow.com/questions/62685948/macos-big-sur-detect-dark-menu-bar-system-tray) Stackoverflow question regarding the exact same problem. It seems that the menu bar icons are not affected by the OS theme but rather by the desktop background.
It seems if the images are drawn as "Template" images this issue can be fixed and the responsibility whether to dra

[2020-10-06 16:40] D0miH commented on #229
Apparently you are using macOS Big Sur on your machine. Can you confirm #225 on your machine?

[2020-10-06 16:43] D0miH commented on #228
Yeah I saw [this](https://github.com/ruiaureliano/macOS-Appearance/pull/2) PR and tested it during development. But apparently the app is running just slow enough in debug mode such that this issue is not appearing during development. I think adding a short delay before changing the theme of the app will fix this (hopefully).

[2020-10-07 09:49] D0miH commented on #220
Confirmed. I can reproduce the bug. Will be fixed with the next update! :)

[2020-10-07 15:55] edwardbattistini commented on #225
it is actually working for me on latest public beta.
This is my MacBook Pro config

<img width="698" alt="Screenshot 2020-10-07 at 16 55 13" src="https://user-images.githubusercontent.com/6288298/95355805-dfb5b200-08bd-11eb-8b69-ea4647eb7285.png">

[2020-10-07 15:57] edwardbattistini commented on #225
@WatEvsCevs can you reboot and check if the issue is still happening for you?

[2020-10-07 16:03] edwardbattistini commented on #229
This might help https://developer.apple.com/documentation/appkit/nsimage/1520017-template
It might just be a boolean

[2020-10-07 17:50] D0miH opened #232 "Add the new logo to the settings tab and the "About"-modal"
**Is your feature request related to a problem? Please describe.**
The old logo  is displayed on the settings tab and the "About"-modal.

**Describe the solution you'd like**
Add the new logo to the "About"-modal and the settings tab.

**Additional context**
This logo should be used (thanks again to @edwardbattistini) for creating this logo):
[Logo.pdf](https://github.com/iglance/iGlance/files/534

[2020-10-07 22:10] Darktortue commented on #220
Ok great ! Thanks for your feedback

[2020-10-08 00:15] WatEvsCevs commented on #225
@edwardbattistini And what do you know, turning it off and on again worked. It was weird because when I opened my laptop iGlance had that weird -1º issue (even when updated with the latest version).

Looking through the logs I found this:

`20-10-06 16:14:05:587 Error: [CpuInfo:72]: An unknown error occurred`

It must be something to do with macOS Big Sur and how that particular process was muckin

[2020-10-08 04:04] Moneypulation commented on #212
I've been working on the github page a bit. Currently on a test repository since it's still under development.

Repo: https://github.com/Moneypulation/iglance-test
Page: https://moneypulation.github.io/iglance-test/

Feedback or suggestions (what to add, remove, change etc.) would be cool

[2020-10-08 08:04] D0miH commented on #212
Oh wow this looks amazing!
Maybe we can use the updated screenshots. But everything else is just so nice!

[2020-10-08 10:24] D0miH commented on #212
I just got another idea. Maybe we can add a "Fork me on GitHub"-badge to the right upper corner. Maybe something like [this](https://github.com/tholman/github-corners).

[2020-10-08 16:43] D0miH commented on #226
I updated the app window in the images:
<img width="1004" alt="app_window_logo_combined" src="https://user-images.githubusercontent.com/36657497/95488661-1b23af80-0996-11eb-8ca4-d4c765f45285.png">
<img width="1904" alt="product_image" src="https://user-images.githubusercontent.com/36657497/95488666-1c54dc80-0996-11eb-806f-8fc61ebb8c81.png">

[2020-10-08 16:46] D0miH commented on #212
@Moneypulation I updated the images using the implemented design. You can find the updated images [here](https://github.com/iglance/iGlance/issues/226#issuecomment-705691734). The images have a high resolution. If you need a lower resolution version just let me know :)

[2020-10-09 08:19] edwardbattistini commented on #225
Big Sur is not yet in GM so its kind of ok. We can always check again when its officially out

[2020-10-09 08:22] D0miH commented on #225
Glad to hear that! 🎉

Exactly. However, I will add the error message to the log in the next update. This will help to track down the issue if it reappearing.

[2020-10-09 13:09] Moneypulation commented on #212
Thx for the feedback! I updated the images and added the github corner feature. Right now, it's causing some problems in the mobile view. Need to have a look into that later when I have more time. But it probably just needs to be put in some bootstrap container.

Should I push the website to the iglance website repository, or  wait for that until the website is finished?

[2020-10-09 13:14] D0miH commented on #212
Sure, you can push it to the iglance website repo. But please keep the `release-notes.html` file since this file serves the release notes for Sparkle update pop-up.

[2020-10-09 15:51] D0miH commented on #212
Very nice!
Since the website is live now I am closing this issue.

[2020-10-09 15:51] #212 closed

[2020-10-10 07:01] D0miH commented on #226
@edwardbattistini I haven't found any license. Do you know if we can just use them in our app? I mean we would credit them anyway but they don't mention if we can use them e.g. on a web page.

[2020-10-10 17:34] #226 closed

[2020-10-11 17:26] D0miH opened #235 "Low battery notification is delivered on high battery notification value"
**Describe the bug🐛**
The low battery notification value is not correctly loaded from the user settings. Instead of loading the "low notification" value the "high notification" value is loaded.

**To Reproduce**
1. Start iGlance
2. Open settings
3. Click on the battery settings

**Expected behavior**
The user defined "low notification" threshold value should be loaded from the user settings.

[2020-10-12 14:45] wahlmat commented on #229
Got a similar issue, but I'm on High Sierra 10.13.6. I'll attach the screenshots below, I'm using the "Dark menu bar" option in the settings, as is seen. MacBook Pro 15", 2015 version, if that makes any difference.

<img width="446" alt="Screen Shot 2020-10-10 at 20 57 09" src="https://user-images.githubusercontent.com/6665823/95759529-1ae32700-0caa-11eb-98b8-418fc91fb152.png">
<img width="901" al

[2020-10-12 16:51] D0miH commented on #229
Thanks for reporting @wahlmat. This seems to be indeed related to the same issue that the menu bar has a different appearance than the selected os theme (which is light in your case).
I need to research a bit to get an idea how we could fix this.

[2020-10-18 18:00] Anders-E opened #237 "Contribution guide lacks information on building/running"
I was looking at doing some contributions to this project as I like it a lot so far.

However, there are no instruction on how to build/run the project in the Contribution Guide and I find myself a bit confused. I apologize if this is stuff I "should know" but I'm very, very new to the whole Apple dev ecosystem so it would be nice with some building/running guidelines.

Thank you for a great proje

[2020-10-18 18:07] D0miH commented on #237
Hey @Anders-E,
glad to hear that you want to contribute. This is nothing you „should know“ and I am glad that you are reaching out for help👍🏼
I can see that mac developing lacks a bit of documentation on the web.
I will summarize all necessary information to get started and will update the contribution guide.
I will update you here here when the contribution guide is up go date. :)

[2020-10-19 08:20] D0miH commented on #237
So I added an additional paragraph to the contribution guide for setting up the project using Xcode. Hope this helps.
Since my project is already set up locally, it is difficult to figure out what might be missing
What additional info would be helpful for you to get started?

[2020-10-19 09:32] Anders-E commented on #237
Got it up and running! Was just a bit confused as to what directory/file I was supposed to load into XCode (as well as the per project signing options in XCode).

Thank you very much!

[2020-10-19 09:34] D0miH commented on #237
Ahh! Good point with the signing options. I will add that as well that the signing team has to be changed for each sub-project.

[2020-10-19 09:37] Anders-E commented on #237
Yes, I think that would be helpful to newcomers to the Apple dev ecosystem like myself.

Once again thank you very much!

[2020-10-19 10:17] D0miH commented on #237
Sure, no problem :)
If you get stuck on understanding the code or need any help, feel free to reach out 😁

[2020-10-20 10:30] Anders-E commented on #237
Thank you, much appreciated!

[2020-10-31 09:59] imlunek opened #239 "Some of the settings are not saved"
**Describe the bug🐛**
I am using catalina and iglance version 2.1 and did changes on the settings. Some of them are not saved. I am not sure if it is a bug or happening due to some limitations.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on any iGlance icon
2. Click on 'Show Window'
3. Click on 'Battery'
4. Make sure 'Show battery symbol on menu bar' is checked
5. Select 'Show' to

[2020-11-01 12:26] flutterrausch opened #240 "Battery notifications dependent on showing of menubar symbol"
I only get low/high battery warning notifications, if showing of menubar symbol is "on". It would be useful to get those warnings without the need to clutter the menubar.

**To Reproduce**
Open iGlance Window/Batter. Set "show low battery notification at" to 1% lower of current battery state. Wait.
Do this with battery menubar icon on/off.

**Expected behavior**
Notification should ALWAYS appear.

[2020-11-01 12:50] Moneypulation commented on #240
It seems to be a logical bug in the code. [Here](https://github.com/iglance/iGlance/blob/master/iGlance/iGlance/iGlance/MenuBarItems/BatteryMenuBarItem.swift#L51) we return from the update function if the menu bar icon is not visible. But therefore we also skip the battery notification functions in L71 and L74.

A fix would be to rearrange the code in the function. For instance:
1. update struct v

[2020-11-01 13:09] flutterrausch commented on #235
Still(?) happens in 2.1 on 10.15.7.

[2020-11-01 13:14] flutterrausch opened #241 "Showing battery time without battery icon (as an option)"
I would like to put "time left" beside the system battery icon + percentage, without the redundant battery symbol. Thus "show remaining time/percentage" as additional option independetly from "show battery symbol".

Not important, but handy. Thanks.

[2020-11-01 13:24] flutterrausch commented on #240
Exactly:

func update() {
    self.statusItem.isVisible = AppDelegate.userSettings.settings.battery.showBatteryMenuBarItem

    // get the current charge
    let currentCharge = AppDelegate.systemInfo.battery.getCharge()

    // notify the user about the capacity of the battery if necessary
    if AppDelegate.userSettings.settings.battery.lowBatteryNotification.notifyUser {
        deliverLowBatte

[2020-11-01 13:27] D0miH commented on #240
Hey @flutterrausch,
thanks for the bug report. Yes, this is indeed a bug and was not intended.
It would be nice if you could open a new pull request with the fix you demonstrated above.

[2020-11-01 13:42] flutterrausch commented on #240
Will try.

[2020-11-19 09:44] asifshirazi opened #246 "App crashing on clamshell mode"
I'm using my MacBook Pro (16-inch, 2019) in clamshell mode, connected with an external 4k monitor. iGlance keep crashing whenever electricity gone or if we switch off my main power.

Also I can not send you the log file because if I relaunch my app and "Save Logfile" from Diagnostics menu, it won't give me the log info of before relaunch time.

Thanks!

[2020-11-25 08:57] D0miH commented on #246
Hey @asifshirazi,
thanks for reporting this issue.
I will have a look at it as soon as I can 👍

[2020-12-07 22:28] MarlonJD opened #250 "Fix MacOS Big Sur Dark/Light theme font/border color issue"
**Describe the bug🐛**
On light theme, there was an issue about the font color. On light theme black color is really bad on Big Sur.
![image](https://user-images.githubusercontent.com/8514643/101212510-e37d6f00-3689-11eb-9de7-eec7c63bf2dc.png)

**Expected behavior**
On Big Sur it has to be white on light theme

**Screenshots (Optional)**
![image](https://user-images.githubusercontent.com/8514643/10

[2020-12-10 14:12] Keating950 commented on #225
Hi all,

I'm noticing this issue appearing on my new M1 Mac Mini running MacOS 11.0.1. It also reports that my fan is running at 1700 RPM, even though the fan is not engaged. Unlike with WatEvsCevs, this wasn't fixed by a reboot.
<img width="404" alt="Screen Shot 2020-12-10 at 09 09 38" src="https://user-images.githubusercontent.com/43932454/101783123-dddbbb00-3ac7-11eb-9b08-7f907c7356ae.png">

[2020-12-16 07:34] ck090 commented on #194
Hi @D0miH,
I can work on this issue and contribute to the development as asked by @bailarin2020.
I've gone through the contribution guidelines as well.

[2020-12-17 09:54] D0miH commented on #229
It seems that https://stackoverflow.com/a/64525038 might contain a solution. The theme change callback is invoked but without changing the actual theme.
Maybe by checking whether the theme changed after calling the callback is a possible way of detecting the font color in the menu bar.

I will check this out and report back.

[2020-12-17 10:02] D0miH commented on #250
Hey @MarlonJD,
thanks for reporting the issue. I answered you on your PR [here](https://github.com/iglance/iGlance/pull/251#issuecomment-747337862).
Since this issue is a duplicate of #229 I will close this issue here. If you have any questions or comments please do so over at #229.

[2020-12-17 10:02] #250 closed

[2020-12-17 10:08] D0miH commented on #225
Hey @Keating950,
at the moment the app is not optimised for M1 Macs. As far as I can see from googling the issue is that some of the values we are trying to read changed on the M1 Macs. I will have to investigate this and will come back to you.

[2020-12-18 10:28] #237 closed

[2020-12-18 15:47] simonepignotti commented on #225
Hi, I have the same issue on an M1 Macbook Air. I believe the problem is that by running through rosetta 2 the processor that is detected is a virtual one (see screenshot from the dashboard).
<img width="813" alt="Screenshot 2020-12-18 at 16 47 09" src="https://user-images.githubusercontent.com/9007512/102633436-b54f6300-4150-11eb-8e68-0385c2ae7e0e.png">

[2020-12-25 01:58] kawarimidoll opened #252 "Installation is failed using latest Homebrew"
**Describe the bug🐛**
Installation is failed using latest Homebrew. This is not bug of iGlance, but need to fix installation instructions in README.md.

**To Reproduce**
Run `brew cask install iglance` in the terminal.

**Screenshots**
![スクリーンショット 2020-12-25 10 45 32](https://user-images.githubusercontent.com/8146876/103113489-56cd3c00-469e-11eb-9be9-c22e281c1b6a.png)

**Desktop (please complete t

[2020-12-25 21:05] ololobus opened #254 "Change foreground/background colour independently from OS dark/light mode"
**Is your feature request related to a problem? Please describe.**

Now foreground colour is black for light theme and white for dark by default. However, if one have dark wallpaper and transparent menu bar than iGlance menu items are barely visible in light mode. See [screenshot](https://imgur.com/a/r6fgaHV) for better understanding.

**Describe the solution you'd like**

I propose an option to a

[2020-12-29 12:44] kdeldycke opened #255 "Settings and preferences import/export CLI"
**Is your feature request related to a problem? Please describe.**

Since #159 has been implemented, we can export and import iGlance settings by the way of a JSON file. That's a great feature which is working well! Now I'd like to script the loading of these settings, so I can automate even more the deployment of my dotfiles.

**Describe the solution you'd like**

I'd like to have the option of s

[2020-12-29 12:45] kdeldycke commented on #255
For reference, this is related to: #142

[2020-12-29 12:51] kdeldycke commented on #255
For inspiration, I'd like to point to [Aerial](https://github.com/JohnCoates/Aerial) (an open-source Swift project), which managed to persist all its settings in a JSON serialized string. I guess there is some good code/practice in its code to follow. See the discussion at https://github.com/JohnCoates/Aerial/issues/976 to get a good understanding of this issue.

 https://github.com/JohnCoates/Aer

[2021-01-27 03:58] frakman1 commented on #254
Just adding to this.
I am on High Sierra and just installed iGlance and the font is unreadable on a dark themed menubar:

![image](https://user-images.githubusercontent.com/5826484/105940726-ef523580-6029-11eb-9650-b5a851010df6.png)

![image](https://user-images.githubusercontent.com/5826484/105940739-f4af8000-6029-11eb-88d5-28f6cb37133d.png)

[2021-02-03 02:34] tvhung83 commented on #225
Same issue on mac mini M1 (BigSur 11.2):
![image](https://user-images.githubusercontent.com/3035236/106689698-033a0080-6603-11eb-90b8-eb95c8e25b38.png)

[2021-02-15 22:22] wuyuankai commented on #239
I also have this bug,  running big sur system

[2021-02-22 08:05] naveenyadav15 commented on #252
I also faced the same error. I solved it using this command.
`brew install iGlance`

[2021-02-26 16:09] erentantekin commented on #72
This is what I currently see (I'm on 2.1, the latest version)

Dark mode:

![image](https://user-images.githubusercontent.com/803448/109324636-c9c37200-7809-11eb-9b98-330a4f532569.png)

Light mode:

![image](https://user-images.githubusercontent.com/803448/109324679-d8118e00-7809-11eb-82b5-6c4205eaba57.png)

[2021-03-08 17:50] AT181903 commented on #252
There is a problem in readme file, the correct command is brew install --cask iglance

[2021-03-15 12:57] chetanpm commented on #239
For me, 'show low battery notification at' value resets to 80% on quitting and restarting the application. Iglance autostarts with the operating system boot and both show low battery and high battery notification resets to 80% even when it is set at 30% before shutdown.

[2021-03-16 23:35] jesseclm commented on #252
I have create a PR to fix this issue

[2021-03-17 16:41] #228 closed

[2021-03-17 17:00] #252 closed

[2021-03-20 16:23] moritzcorpus commented on #239
same here & additional info see below:

**differences** / **additional info** for bugreport:

**Screenshots (Optional)**
see below

**Desktop (please complete the following information):**

- MacOS Version: **macOS 11.2.3 (20D91)**
- Version of the app: **2.1**

**Log**
- [io.github.iglance.iGlance 2021-03-20--15-15-44-403.log](https://github.com/iglance/iGlance/files/6175941/io.github.iglance.iGl

[2021-03-21 10:06] D0miH commented on #239
Hey guys,
sorry it took so long to answer...
I am busy right now and can't look into the issue. If some of you wants to look into it just give a short heads up here. I will be happy to merge a fix and release a new version 👍🏻

[2021-03-28 07:12] sgon00 opened #259 "Can we have a cpu text percentage display?"
Hi, thank you very much for the great app. It's fantastic. But I found out it didn't support cpu text percentage display. It only supports `Bar Graph` and `Line Graph`. Is that possible to add cpu text percentage display? The graph options don't tell me much at all.
Thank you very much.

[2021-04-04 15:49] Yoelio commented on #254
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/43119219/113514182-27e72180-953b-11eb-9998-04ae91f88099.png">

[2021-04-05 08:23] dontcrash commented on #225
Same issue here, might try and look through the source and attempt to fix this issue if possible, any pointers on where would be a good starting point?

[2021-04-06 06:32] D0miH commented on #225
Hey @dontcrash,
that would be awesome. So I think the problem with the M1 macs is that the SMC (System Management Controller) key which we are using for reading the temperatures (and other things) changed for the M1 models. So a good starting point would be to find out if other open source apps managed to get the correct key.

[2021-05-16 05:49] ChillarAnand commented on #225
Yes, your are right. @dontcrash

[code]

Looks like it is issue with smc.

[2021-05-16 06:01] ChillarAnand commented on #225
Have checked other software like glances, osx-cpu-temp, iStats. None of them seem to be working.

Relevant links:
https://github.com/lavoiesl/osx-cpu-temp/issues/38
https://github.com/Chris911/iStats/issues/101
https://apple.stackexchange.com/questions/54329/can-i-get-the-cpu-temperature-and-fan-speed-from-the-command-line-in-os-x

[2021-05-24 02:45] frakman1 commented on #254
**This is a bug on High Sierra** because when I migrated to Mojave on a new laptop in Dark mode, it works correctly.

[2021-05-30 22:11] BartlomiejWlodarczak commented on #239
Hello everyone!

First of all big thanks to @D0miH and all of the other collaborators for this useful app. I'm loving it.
I noticed the same buggy behavior as stated in this issue and decided to take a look into code and fix it myself.

This is my first time ever working on open source software and I'm happy that I finally decided to do it.
I'll be happy to work on iGlance again soon 😃

Here's the

[2021-06-05 07:24] D0miH commented on #239
Thanks guys. I have merged the PR and I will release a new Version soon.

[2021-06-10 19:03] bassu commented on #225
The [_stats_](https://github.com/exelban/stats) app does not this issue.
They use another version of SMC though:

https://github.com/exelban/stats/blob/master/SMC/smc.swift

Implementation details here:
https://github.com/fermion-star/apple_sensors

[2021-06-19 16:00] iivanu commented on #254
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45397046/122648172-36031200-d128-11eb-8685-85edb6643a15.png">

I have the same issue.

[2021-07-13 03:29] uwatr commented on #254
Same issue on BigSur with dark mode text being black on black

[2021-07-15 21:57] spirozh commented on #254
my other icons in the status bar are white and iGlance is black, it's a bit jarring... i love the app but would like better integration (even if i had to manually configure it)

![image](https://user-images.githubusercontent.com/2207/125863029-979c4fb9-3355-4b86-a402-b97d5ae089a1.png)

[2021-07-21 15:06] hamiltonca commented on #254
A suggestion. This worked for me (in the interim) running Big Sur
System Preferences -> Accessibility -> Display -> Reduce Transparency
<img width="675" alt="Screen Shot 2021-07-21 at 11 06 37 AM" src="https://user-images.githubusercontent.com/4172179/126512281-8f537569-7c26-43f9-a659-62f04c8a4e69.png">

[2021-07-21 21:49] AntonioParroni commented on #254
I also have this exact issue on High Sierra 10.13.6

Please, your program really looks so cool. And we want to use it!

[2021-08-07 15:19] mrglutton opened #261 "iGlance freezes if Cloudflare WARP is installed and started in WARP mode"
**Describe the bug🐛**
Upon starting iGlance constantly moves between working and not responding status in System monitor. The program starts, and then freezes. After some while it starts orking for a minute and updates and then freezes again. Then loop.

**To Reproduce**
Steps to reproduce the behavior:

1. Install Cloudflare Warp
2. Enable
3. iGlance freezes **immediately**
4. Enable on 1.1.1.1 D

[2021-08-07 15:22] mrglutton opened #262 "Add option to see the current disk read / wrote speed"
**Is your feature request related to a problem? Please describe.**
When copying network files and such over WiFi I constantly have to watch monitor to check for optimal antenna position to get higher speed. It would be more practical to just have status in traybar.

**Describe the solution you'd like**
To see disk read / write speeds just like we have with network.
![Screen Shot 2021-08-07 at 17 2

[2021-08-15 06:24] sudhirkhanger commented on #187
Happened to me and workaround was to disable wifi. I am on Big Sur.

[2021-08-16 20:10] matt-hammond-001 commented on #254
I have a similar issue on Big Sur with a dynamic desktop background. I'm using light theme mode. During evening/night when the desktop changes to a dark picture, the other text and icons on the menu bar automatically switch from black to white colour, but iGlance does not.

[2021-09-28 07:44] tarif-ul-haque commented on #254
Hi, Thanks for such an amazing app.

I'm using Mac Big Sur 11.3 and prefer night mode for my eye condition.

You can see all my other menu bar items are black the iglance items are white.

Please update it so it matches the color of the other menu bar items.

Wish you all the best.

![image](https://user-images.githubusercontent.com/79304817/135044714-db599b45-2a0e-4e7c-8c8b-98dc62b39306.png)

[2021-10-05 15:43] Symyon commented on #254
Same here, just started using it for a day or two. I'm pretty sure color was the same as the other icons at the beginning Yesterday, I've restarted Mac Today and see now that iGlance icons are opposite to what the others are. If I switch themes it switches from black to white, but so do the other ones so you get again an opposite color from all the other icons.

[2021-11-06 21:51] amsal134215 opened #263 "The status icons remain black in dark mode"
MacOS Monterey 12.0.1
Macbook Pro 2018. 15 inch
Intel i7

iGlance 2.1

[2021-11-09 03:39] leonitousconforti commented on #261
I am also experiencing the same issue

[2021-11-14 22:25] pavelnemirovsky commented on #225
stats show fans rpm equal to 0...  same a iglance ...

[2021-12-12 02:32] imlunek commented on #239
Hello @D0miH,
We were expecting the new release with this update. Can you please do that so that we won't need to keep changing the settings after every restart.

[2022-01-24 21:34] nathanneuro commented on #225
https://github.com/macmade/Hot/commit/005e4ce22dc394cbfb6db91bdc8ddf1ac66d60c1 The open source app "hot" has fixed the m1 chip temp reading. Here's the link to the commit that fixed it for them.

[2022-01-28 16:38] h3n4l opened #264 "Incorrect battery health"
**Describe the bug🐛**
Incorrect battery health on dashboard.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to "iGlance"
2. Click on "Dashboard"
3. See wrong battery health

**Screenshots (Optional)**
Battery Health on apple settings:
<img width="314" alt="图片" src="https://user-images.githubusercontent.com/87714218/151585129-3c841539-532e-4ea8-b399-dd34984ffaf7.png">
Wrong battery healt

[2022-01-28 16:43] h3n4l commented on #225
Same apperance on my mac(Monterey 12.1, m1 silicon), iGlance version 2.1 !*_*
<img width="216" alt="图片" src="https://user-images.githubusercontent.com/87714218/151586921-81bf6858-7bb7-4a38-a783-5fd27e36bd4a.png">

[2022-02-04 18:57] kbariotis opened #265 "Can't change network widget colur"
**Describe the bug🐛**
Thank you and apologies if this is something obvious that I've missed. :)

**Screenshots (Optional)**
![image](https://user-images.githubusercontent.com/605742/152586882-a7685d2d-fbe3-40f7-bdd3-e62b50fb3103.png)

**Desktop (please complete the following information):**

- MacOS Version: 12.1
- Version of the app: 2.1

[2022-03-25 07:55] kennedy26 commented on #264
Reset SMC and recalibrate battery (drain to completely off, after 6-8 hours plug in charger to 100%)

[2022-04-04 13:22] h3n4l commented on #264
I will try it.

[2022-04-04 13:22] h3n4l commented on #264
I will try it.

[2022-04-15 06:01] SeaDaddytheRed commented on #263
This seems to be an issue with the transperancy.  If you check "reduce transparency" under Accessability then the issue goes away.  Also, if you enable Dark mode, or Lite Mode, there is no issue.  It's only with Auto mode.  At least on my setup, macOS 12.3.1

[2022-06-13 03:44] #264 closed

[2022-07-12 11:34] jtakalai opened #266 "Show CPU throttling"
**Is your feature request related to a problem? Please describe.**
Related the MacBook Pro 2019 overheating problem that led me to install iGlance (I want to see the temperature and fan speed; thanks for the great program!)

**Describe the solution you'd like**
I'd like to add a number to the menu bar, basically kernel_task CPU usage. What MBP2019 does, is throttle the CPU by increasing kernel_tas

[2022-08-12 10:04] skoczko commented on #254
Same issue here. The icons are not readable:
<img width="644" alt="Screenshot 2022-08-12 at 12 03 39" src="https://user-images.githubusercontent.com/617389/184332506-c7d1e1f4-53f3-4cce-a664-14de9ffab450.png">

[2022-08-29 14:55] MikeyBeez opened #267 "Uninstall"
How can I uninstall this?  brew uninstall iglance isn't working.  Thanks.

[2022-08-29 16:38] Skylinar commented on #225
![Bildschirmfoto 2022-08-29 um 18 37 04](https://user-images.githubusercontent.com/53079123/187250722-12c6a678-852c-442a-8d7b-756b225e6b72.png)
Bug is still here with M1Pro Mac 2021 on Monterey 12.2.1 (21D62)

[2022-09-01 10:15] rmortes commented on #225
Can confirm on MacBook Air (M1, 2020) on Monterey